/**
 * Variables
**/
$extensions = {
	'violentmonkey': {
		id:  '{aecec67f-0d10-4fa7-b7c7-609a2db280cf}'
		tab: {
			name:  Violentmonkey
			place: '$'
		}
	}

	'ublock-origin': {
		id:  'uBlock0@raymondhill.net'
		tab: {
			name:  'uBlock₀'
			place: '^'
		}
	}

	'stylus': {
		id:  '{7a7a4a92-a2a0-41d1-9fd7-1e92480d612d}'
		tab: {
			name:  Stylus
			place: '$'
		}
	}
}

$icons-path = 'chrome://userchrome/content/extension-icons'

/**
 * Hide elements
**/
// Menus
#appMenu-fxa-status2,
#appMenu-fxa-separator,
#context-openlinkprivate,
#context-openlinkinusercontext-menu,
#context-sendlinktodevice,
#context-selectall,
#context-savelink,

// Tabs
#private-browsing-indicator-with-label > label,

// URL bar
#tracking-protection-icon-container,
.search-one-offs
{
	display: none $i;
}

/**
 * Variables
**/
:root {
	// XXX: Why is 4px needed ?
	--sidebar-width: calc(228px + 16px + 1ch + 4px);
	--wm-border: var(--accent);

	// duskfox icons
	--context-iconic-margin: 0 1ch;

	// Reserve own variables
	--reserve-bg: var(--bg);
	--reserve-fg: var(--fg);
	--reserve-border: var(--border);
	--reserve-pad: var(--pad);

	&:-moz-window-inactive {
		--wm-border: unquote('hsla(var(--fg-h), var(--fg-s), var(--fg-l), var(--bg-opacity))');
	}

	/*@media (prefers-color-scheme: light) {
		--wm-border: #06c75580;
		--accent-border: #048538;

		&:-moz-window-inactive #nav-bar {
			--wm-border: #25252540;
			--border: #25252540;
		}
	}*/
}

/**
 * Global
**/
#statuspanel-label {
	bgc();
	pad();
	brd(top);
	brd(right);
	border-top-right-radius: var(--border-radius) $i;
}
