/* ==UserStyle==
@name           Global rules
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

/**
 *
 * I.   Other settings
 * II.  Color settings
 * III. Settings declaration
 * IV.  Scrollbar
 *
**/
:root {
	/* Calculations put here to not do them again */
	--header-h: calc(var(--font-size) + var(--pad) * 2);
	--icon-button-size: calc(var(--icon-size) + var(--pad) * 2);

	/* Text and icons */
	--font-normal: system-ui;
	--font-code: var(--font-normal);
	--font-size: 12pt;
	--icon-size: 8px;
	--delim: ' • ';

	/* Shadows */
	--shadow-ins: 0 0 0 var(--border-width);
	--shadow-vrt: 0 0 8px var(--shadow-clr);
	--shadow-low: 0 1px 4px var(--shadow-clr);
	--shadow-mid: 0 4px 8px var(--shadow-clr);
	/*--shadow-big: 0 1px 1px var(--shadow-clr), 0 2px 2px var(--shadow-clr), 0 4px 4px var(--shadow-clr), 0 8px 8px var(--shadow-clr), 0 16px 16px var(--shadow-clr), 0 32px 32px var(--shadow-clr);*/
	/*--shadow-big: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);*/
	--shadow-big: var(--shadow-mid), 0 28px 48px var(--shadow-clr);

	/* Highlighting */
	--hl: var(--fg);
	--hl-error: #cc4a4a;
	--hl-fg: var(--bg);

	/* etc. */
	--pad: 16px;
	--body-pad: 24px;
	--bg-opacity: .25;
	--line-height: 1.5;
	--trans-dur: 150ms;
	--border-width: 0px;
	--border-radius: 16px;
	--saturation-factor: 1;
	--popup-filter: saturate(140%) blur(36px);
}

@media (prefers-color-scheme: light) { :root {
	--bg-h: 0;
	--bg-s: 0%;
	--bg-l: 100%;
	--bg-l-mute: 5%;
	--fg-h: 0;
	--fg-s: 0%;
	--fg-l: 15%;
	--fg-mute-factor: 3;
	--bg-sign: -;
	--fg-sign: *;

	/* new
	accent hsl(359, 77%, 69%)
	hl     hsl(251, 78%, 70%)
	--bg-h: 57;
	--bg-s: 34%;
	--bg-l: 87%;
	--bg-l-mute: 3%;
	--fg-lightness: 29%;
	--fg-mute-factor: 3;*/

	--colors-s: 11%;
	--colors-s-2: 7%;
	--colors-l: 43%;
	--colors-l-2: 8%;
	/* */
	--color1-h: 357;
	--color2-h: 180;
	--color3-h: 55;
	--color4-h: 248;
	--color5-h: 300;
	--color6-h: 180;

	--accent: #cae4f4;
	--accent-border: #73b8e2;
	--accent: var(--fg);
	--accent-border: var(--fg);
	--accent-fg: var(--bg);
	--shadow-clr: rgba(149,157,165,.2);
}}

@media (prefers-color-scheme: dark) { :root {
	--bg-h: 224;
	--bg-s: 52%;
	--bg-l: 6%;
	--bg-l-mute: 6%;
	--fg-h: 0;
	--fg-s: 0%;
	--fg-l: 80%;
	--fg-mute-factor: 2;
	--bg-sign: +;
	--fg-sign: /;

	--colors-s: 17%;
	--colors-s-2: 7%;
	--colors-l: 61%;
	--colors-l-2: 8%;
	/* 7 8 15 16 missing */
	--color1-h: 357;
	--color2-h: 122;
	--color3-h: 55;
	--color4-h: 248;
	--color5-h: 300;
	--color6-h: 182;

	--accent: #212;
	--accent-border: #44264b;
	--accent-fg: var(--fg);
	--shadow-clr: rgba(0,0,0,.2);

	--bg-h: 300;
	--bg-s: 14%;
	--bg-l: 11%;
	--bg-l-mute: 3%;

	--accent: #e2237d;
	--accent-border: #e2237d;
	--accent-fg: var(--fg);
}}

:root {
	--bg: hsl(var(--bg-h), var(--bg-s), var(--bg-l));
	--bg2: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) var(--bg-sign) var(--bg-l-mute)));
	--bg3: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) var(--bg-sign) var(--bg-l-mute) * 2));
	--bg4: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) var(--bg-sign) var(--bg-l-mute) * 3));
	--border: hsl(var(--bg-h), var(--bg-s), calc(var(--bg-l) var(--bg-sign) var(--bg-l-mute) * 5));

	--bg-tr: hsla(var(--bg-h), var(--bg-s), var(--bg-l), calc(var(--bg-opacity) * 3));
	--bg-tr2: hsla(var(--bg-h), var(--bg-s), var(--bg-l), calc(var(--bg-opacity) * 2));
	--bg-tr3: hsla(var(--bg-h), var(--bg-s), var(--bg-l), var(--bg-opacity));

	--fg: hsl(var(--fg-h), var(--fg-s), var(--fg-l));
	--fg2: hsl(var(--fg-h), var(--fg-s), calc(var(--fg-l) var(--fg-sign) (var(--fg-mute-factor) * 1.33)));
	--fg3: hsl(var(--fg-h), var(--fg-s), calc(var(--fg-l) var(--fg-sign) (var(--fg-mute-factor) * 2)));
	--fg-link: #1488ff;

	--colorscheme-s: calc(var(--saturation-factor) * var(--colors-s));
	--colorscheme-s-2: calc(var(--colorscheme-s) + var(--colors-s-2));
	--colorscheme-l: var(--colors-l);
	--colorscheme-l-2: calc(var(--colorscheme-l) + var(--colors-l-2));
	--color1:  hsl(var(--color1-h),	var(--colorscheme-s),		var(--colorscheme-l));
	--color9:  hsl(var(--color1-h),	var(--colorscheme-s-2),	var(--colorscheme-l-2));
	--color2:  hsl(var(--color2-h),	var(--colorscheme-s),		var(--colorscheme-l));
	--color10: hsl(var(--color2-h),	var(--colorscheme-s-2),	var(--colorscheme-l-2));
	--color3:  hsl(var(--color3-h),	var(--colorscheme-s),		var(--colorscheme-l));
	--color11: hsl(var(--color3-h),	var(--colorscheme-s-2),	var(--colorscheme-l-2));
	--color4:  hsl(var(--color4-h),	var(--colorscheme-s),		var(--colorscheme-l));
	--color12: hsl(var(--color4-h),	var(--colorscheme-s-2),	var(--colorscheme-l-2));
	--color5:  hsl(var(--color5-h),	var(--colorscheme-s),		var(--colorscheme-l));
	--color13: hsl(var(--color5-h),	var(--colorscheme-s-2),	var(--colorscheme-l-2));
	--color6:  hsl(var(--color6-h),	var(--colorscheme-s),		var(--colorscheme-l));
	--color14: hsl(var(--color6-h),	var(--colorscheme-s-2),	var(--colorscheme-l-2));

	--scrollbar-track: var(--bg2);
	--scrollbar-track-button: var(--bg4);
	--scrollbar-thumb: var(--fg3);
	--scrollbar-thumb-hover: var(--fg2);
	--scrollbar-thumb-active: var(--fg);
}

::selection {
	background-color: var(--hl) !important;
	color: var(--hl-fg) !important;
}

/* Font */
::placeholder, * {
	font-family: var(--font-normal) !important;
	font-size: var(--font-size) !important;
	font-weight: normal !important;
}
code, pre, code *, pre * {
	font-family: var(--font-code) !important;
}

/* Scrollbar (stolen from Vivaldi) */
:root {
	--scrollbar-width: 15px;
}
::-webkit-scrollbar {
	width: var(--scrollbar-width);
}
::-webkit-scrollbar-button {
	display: flex;
	width: var(--scrollbar-width);
	height: var(--scrollbar-width);
}
::-webkit-scrollbar-button:vertical {
	border-left: 1px solid var(--scrollbar-track);
}
::-webkit-scrollbar-button:vertical:decrement {
	background-image: linear-gradient(transparent 68%, var(--scrollbar-track) 68%), linear-gradient(135deg, var(--scrollbar-track) 45%, transparent 45%), linear-gradient(45deg, var(--scrollbar-thumb-active) 53%, var(--scrollbar-track) 53%);
}
::-webkit-scrollbar-button:vertical:decrement:hover {
	background-image: linear-gradient(transparent 68%, var(--scrollbar-track-button) 68%), linear-gradient(135deg, var(--scrollbar-track-button) 45%, transparent 45%), linear-gradient(45deg, var(--scrollbar-thumb-active) 53%, var(--scrollbar-track-button) 53%);
}
::-webkit-scrollbar-button:vertical:decrement:active {
	background-image: linear-gradient(transparent 68%, var(--scrollbar-thumb-active) 68%), linear-gradient(135deg, var(--scrollbar-thumb-active) 45%, transparent 45%), linear-gradient(45deg, var(--scrollbar-track) 53%, var(--scrollbar-thumb-active) 53%);
}
::-webkit-scrollbar-button:vertical:increment {
	background-image: linear-gradient(45deg, var(--scrollbar-track) 45%, transparent 45%), linear-gradient(-225deg, transparent 53%, var(--scrollbar-track) 53%), linear-gradient(-180deg, var(--scrollbar-track) 31%, var(--scrollbar-thumb-active) 31%);
}
::-webkit-scrollbar-button:vertical:increment:hover {
	background-image: linear-gradient(45deg, var(--scrollbar-track-button) 45%, transparent 45%), linear-gradient(-225deg, transparent 53%, var(--scrollbar-track-button) 53%), linear-gradient(-180deg, var(--scrollbar-track-button) 31%, var(--scrollbar-thumb-active) 31%);
}
::-webkit-scrollbar-button:vertical:increment:active {
	background-image: linear-gradient(45deg, var(--scrollbar-thumb-active) 45%, transparent 45%), linear-gradient(-225deg, transparent 53%, var(--scrollbar-thumb-active) 53%), linear-gradient(-180deg, var(--scrollbar-thumb-active) 31%, var(--scrollbar-track) 31%);
}
::-webkit-scrollbar-button:horizontal {
	border-top: 1px solid var(--scrollbar-track);
}
::-webkit-scrollbar-button:horizontal:decrement {
	background-image: linear-gradient(-135deg, transparent 53%, var(--scrollbar-track) 53%), linear-gradient(-45deg, transparent 53%, var(--scrollbar-track) 53%), linear-gradient(90deg, var(--scrollbar-thumb-active) 70%, var(--scrollbar-track) 70%);
}
::-webkit-scrollbar-button:horizontal:decrement:hover {
	background-image: linear-gradient(-135deg, transparent 53%, var(--scrollbar-track-button) 53%), linear-gradient(-45deg, transparent 53%, var(--scrollbar-track-button) 53%), linear-gradient(90deg, var(--scrollbar-thumb-active) 70%, var(--scrollbar-track-button) 70%);
}
::-webkit-scrollbar-button:horizontal:decrement:active {
	background-image: linear-gradient(-135deg, transparent 53%, var(--scrollbar-thumb-active) 53%), linear-gradient(-45deg, transparent 53%, var(--scrollbar-thumb-active) 53%), linear-gradient(90deg, var(--scrollbar-track) 70%, var(--scrollbar-thumb-active) 70%);
}
::-webkit-scrollbar-button:horizontal:increment {
	background-image: linear-gradient(135deg, transparent 53%, var(--scrollbar-track) 53%), linear-gradient(45deg, transparent 53%, var(--scrollbar-track) 53%), linear-gradient(-90deg, var(--scrollbar-thumb-active) 70%, var(--scrollbar-track) 70%);
}
::-webkit-scrollbar-button:horizontal:increment:hover {
	background-image: linear-gradient(135deg, transparent 53%, var(--scrollbar-track-button) 53%), linear-gradient(45deg, transparent 53%, var(--scrollbar-track-button) 53%), linear-gradient(-90deg, var(--scrollbar-thumb-active) 70%, var(--scrollbar-track-button) 70%);
}
::-webkit-scrollbar-button:horizontal:increment:active {
	background-image: linear-gradient(135deg, transparent 53%, var(--scrollbar-thumb-active) 53%), linear-gradient(45deg, transparent 53%, var(--scrollbar-thumb-active) 53%), linear-gradient(-90deg, var(--scrollbar-track) 70%, var(--scrollbar-thumb-active) 70%);
}
::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track) !important;
	background-clip: border-box;
}
::-webkit-scrollbar-track:vertical {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
::-webkit-scrollbar-track:horizontal {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb) !important;
	background-clip: padding-box;
	border-radius: 0 !important;
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollbar-thumb-hover) !important;
}
::-webkit-scrollbar-thumb:active {
	background-color: var(--scrollbar-thumb-active) !important;
}
::-webkit-scrollbar-thumb:vertical {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
::-webkit-scrollbar-thumb:horizontal {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-resize {
	background-color: var(--scrollbar-track);
}

