/* ==UserStyle==
@name           twitter.com - 5/6/2022, 6:15:19 PM
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me

@preprocessor stylus
==/UserStyle== */

@-moz-document domain("twitter.com") {
	// Remove elements
	[role="main"] + [role="progressbar"], .css-1dbjc4n.r-yfoy6g.r-18bvks7.r-1867qdf.r-1phboty.r-rs99b7.r-1ifxtd0.r-1udh08x,
	.gt2-dashboard-profile ~ :last-child // Footer
	{
		display: none;
	}
	
	// Not logged in
	.gt2-dashboard-profile + div, // Sign up
	[aria-label^="Follow @"]
	{
		display: none;
	}

	// Colors
	:root {
		--color-bg: var(--bg);
		--color-elem: var(--bg2);
		--color-elem-sel: var(--hl);
		--color-gray-dark: var(--border);
		--color-gray-dark-2: var(--border);
		--color-gray-light: var(--fg);
		--color-navbar: var(--accent);
		--color-text: var(--fg);
		--color-text-2: var(--fg);
		--color-blue: var(--color15);
		--color-green: var(--color10);
		--color-red: var(--color9);
		--color-red-dark: var(--color1);
		--color-yellow: var(--color11);
		--color-shadow: var(--shadow-clr);
	}

	.gt2 {
		&-legacy-profile-banner > img {
			transform: none !important;
		}
		&-opt-legacy-profile&-page-profile&-scrolled-down-banner &-legacy-profile {
			&-banner {
				height: 0 !important;
			}
			&-nav {
				margin-top: 47px !important;
			}
		}

		&-legacy-profile-nav,
		&-nav {
			border-bottom: var(--border-width) solid var(--accent-border) !important;
		}
		&-opt-legacy-profile&-page-profile [data-testid=primaryColumn]>div>div:nth-child(1) {
			height: 0;
		}
	}

	[data-testid="primaryColumn"] {
		background-color: var(--bg2);
		border: var(--border-width) solid var(--border);
		border-top: none;
	}
	[aria-label="Profile timelines"],
	[aria-label^="Timeline: "] > div > div > div {
		border-bottom: var(--border-width) solid var(--border);
	}
}
