/* ==UserStyle==
@name           YouTube
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("youtube.com") {
	/* Remove elements */
	#contents.ytd-rich-grid-renderer > ytd-rich-section-renderer, /* "What did you think of this video?" */
	#menu.ytd-video-primary-info-renderer ytd-button-renderer,
	#movie_player .ytp-doubletap-ui-legacy,
	#menu.ytd-compact-video-renderer,
	ytd-badge-supported-renderer,
	#voice-search-button,
	#sponsor-button,
	#country-code,
	#guide {
		display: none !important;
	}
	#page-manager {
		margin-left: 0 !important;
	}

	/* Remove dropdowns/menus */
	#menu,
	#action-menu,
	#guide-button.ytd-masthead {
		display: none !important;
	}
	#menu.ytd-video-primary-info-renderer {
		display: block !important;
	}
	.metadata.ytd-compact-video-renderer,
	h3.ytd-rich-grid-media {
		padding-right: 0 !important;
	}
	h3.ytd-grid-video-renderer {
		margin: 0 !important;
	}

	/* Remove video preview */
	#preview, #hover-overlays {
		display: none !important;
	}
	ytd-thumbnail-overlay-time-status-renderer {
		display: inline-block !important;
	}

	/* Old YouTube fixes */
	/*#wrapper.tp-yt-app-header-layout > [slot=header] {
		right: 0 !important;
	}

	body.lock-scrollbar:not(.style-scope) {
		position: unset !important;
	}

	#author-text.yt-simple-endpoint.ytd-comment-renderer,
	#content-text.ytd-backstage-post-renderer,
	#content-text.ytd-comment-renderer,
	#expander.ytd-comment-replies-renderer,
	#video-title.ytd-rich-grid-media,
	#video-title.ytd-rich-grid-video-renderer,
	.title.ytd-guide-entry-renderer,
	.title.ytd-mini-channel-renderer,
	h3.ytd-rich-grid-media,
	ytd-comment-action-buttons-renderer:not([use-comment-icon]) #reply-button-end.ytd-comment-action-buttons-renderer ytd-button-renderer.ytd-comment-action-buttons-renderer:not([is-icon-button]).ytd-comment-action-buttons-renderer,
	ytd-comment-action-buttons-renderer:not([use-comment-icon]) #reply-button.ytd-comment-action-buttons-renderer ytd-button-renderer.ytd-comment-action-buttons-renderer:not([is-icon-button]).ytd-comment-action-buttons-renderer,
	ytd-grid-video-renderer #video-title.yt-simple-endpoint.ytd-grid-video-renderer,
	ytd-guide-entry-renderer[active],

	#author-text.yt-simple-endpoint.ytd-comment-renderer,
	#content-text.ytd-backstage-post-renderer,
	#content-text.ytd-comment-renderer,
	#expander.ytd-comment-replies-renderer,
	#video-title.ytd-rich-grid-media,
	#video-title.ytd-rich-grid-video-renderer,
	.title.ytd-guide-entry-renderer,
	.title.ytd-mini-channel-renderer,
	h3.ytd-rich-grid-media,
	ytd-comment-action-buttons-renderer:not([use-comment-icon]) #reply-button-end.ytd-comment-action-buttons-renderer ytd-button-renderer.ytd-comment-action-buttons-renderer:not([is-icon-button]).ytd-comment-action-buttons-renderer,
	ytd-comment-action-buttons-renderer:not([use-comment-icon]) #reply-button.ytd-comment-action-buttons-renderer ytd-button-renderer.ytd-comment-action-buttons-renderer:not([is-icon-button]).ytd-comment-action-buttons-renderer,
	ytd-grid-video-renderer #video-title.yt-simple-endpoint.ytd-grid-video-renderer,
	ytd-guide-entry-renderer[active] {
		font-size: var(--font-size) !important;
	}

	ytd-c4-tabbed-header-renderer[has-channel-art] #avatar.ytd-c4-tabbed-header-renderer,
	ytd-c4-tabbed-header-renderer[has-channel-art] yt-img-shadow.ytd-channel-avatar-editor {
		position: absolute !important;
		width: 80px !important;
		height: 80px !important;
		left: 16px !important;
		top: -160px !important;
	}*/
}
