@-moz-document domain('github.com') {
	/* More compact view */
	body {
		line-height: unset !important;
	}
	main > div > div:first-child > .width-fit {
		position: relative;
		top: 5px;
	}
	/*#readme .Box-body {
		padding: 12px 16px !important
	}
	.markdown-body a[href^="https://repology.org"] + h1 {
		margin-top: 0 !important;
	}*/

	/* Use entire screen */
	/*.container-sm, .container-md,
	.container-lg, .container-xl {
		max-width: unset !important;
	}
	main > .bg-gray-light > *,
	main > div[class^="container"] {
		padding: 0 16px !important;
	}

	/* Normal width for header */
	.logged-out main > .color-bg-secondary > * {
		max-width: 1280px;
		margin: 0 auto;
	}
	.logged-out main > .color-bg-secondary > nav {
		box-shadow: none !important;
	}
	.logged-out main > .color-bg-secondary .UnderlineNav-body {
		z-index: 0;
	}
	.logged-out main > .color-bg-secondary {
		border-bottom: 1px solid var(--color-border-secondary);
	}
	.logged-out header > div:only-child {
		padding: 0 32px !important;
	}

	/* Swap header and main content background colors */
	@media (prefers-color-scheme: light) {
		:root {
			--color-bg-canvas: #fafbfc !important;
			--color-bg-secondary: #fff !important;
			--color-btn-bg: #fff !important;
			--color-input-contrast-bg: #fff !important;
		}
		.profile-timeline-month-heading,
		.js-profile-timeline-year-list,
		.profile-timeline-year-list,
		.profile-timeline h3,
		.discussion-timeline-actions,
		.thread-subscription-status,
		.timeline-comment-wrapper,
		.diffbar,
		.pagination-loader-container {
			background-color: var(--color-scale-gray-0) !important;
		}
		.gist-banner.gist-detail-intro {
			background-image: linear-gradient(180deg, hsla(0,0%,100%,0) 30%, #fff), linear-gradient(70deg, #e0f1ff 32%, #fffae3) !important;
		}
		.timeline-comment-header,
		.timeline-comment-header.timeline-comment--caret::after {
			background-color: #f5f6f7 !important;
			color: #485054 !important;
		}
		.js-pinned-issues-reorder-container [class*="col-"],
		.graph-before-activity-overview,
		.file .file-header + div,
		.timeline-comment-label,
		.js-comments-holder,
		.menu + nav + div,
		pager-flow {
			background-color: var(--color-bg-primary) !important;
		}
	}

	/* Remove certain elements */
	aside[aria-label="Star Topics"], div[style="z-index:22;"] + div > article.bg-white, /* Advertisements */
	a[aria-label="You must be signed in to change notification settings"], /* Notifications when not signed in */
	.new-discussion-timeline .flex-items-start > .col-md-3 > [class], /* Discussions */
	nav[aria-label="Explore navigation"] .text-right, /* E-mail updates */
	aside[aria-label="Explore"] .js-notice, /* Top notice (advertisement?) */
	a[href="/sponsors/community"], /* GitHub sponsors */
	#issuecomment-new .text-small, /* Protip? */
	.locked-conversation, /* Issue comment in a locked conversation */
	/*footer .bg-gray-light,*/
	signup-prompt {
		display: none !important;
	}
	.TimelineItem-badge,
	.discussion-item-icon {
		border: 2px solid var(--color-scale-gray-2) !important;
	}
	.discussion-timeline-actions,
	.timeline-comment-wrapper {
		border: none !important;
	}

	/* Notifications */
	div[data-url^="/notifications"] {
		padding-left: 0 !important;
		padding-bottom: 0 !important;
	}
	div[data-url^="/notifications"] .js-check-all-container .d-flex.flex-items-center.mt-0.mb-md-3.mb-0.px-2.px-sm-0 {
		margin-right: -8px;
	}
	div[data-url^="/notifications"] .js-check-all-container .d-none.d-md-block.col-12.col-sm-6 {
		width: 100% !important;
	}
	.notification-navigation {
		border-right: 1px solid var(--color-border-primary);
		padding: 0 8px;
	}
	
	/* Tabs */
	nav.tabnav-tabs:not([aria-label="Repository menu"]) .tabnav-tab:focus,
	nav.tabnav-tabs:not([aria-label="Repository menu"]) .tabnav-tab:hover {
		color: unset !important;
		border-bottom-color: var(--color-underlinenav-border-hover) !important;
		transition-timing-function: ease-out;
		transition-duration: .12s;
	}
	nav.tabnav-tabs:not([aria-label="Repository menu"]) .tabnav-tab.selected {
		background-color: unset !important;
		border-bottom: 2px solid var(--color-underlinenav-border-active) !important;
		font-weight: 600;
	}
	nav.tabnav-tabs:not([aria-label="Repository menu"]) .tabnav-tab {
		border: none !important;
		border-bottom: 2px solid var(--color-underlinenav-border) !important;
		transition: border-bottom-color .36s ease-in !important;
	}
	.tabnav-tab.selected,
	.tabnav-tab[aria-current]:not([aria-current="false"]),
	.tabnav-tab[aria-selected="true"] {
		background-color: var(--color-bg-secondary) !important;
	}

	/* Review comments */
	.review-comment[data-gid]:first-child {
		border-top: none !important;
	}
	.review-comment[data-gid]:not(:last-child) {
		border-bottom: 1px solid var(--color-border-primary);
	}
	.review-comment[data-gid] {
		padding: 12px 0 !important;
		margin: 0 12px;
	}
	.review-thread-reply {
		border-bottom: none !important;
	}
	/*.review-comment[data-gid]:target {
		border: none !important;
		border-radius: 0 !important;
		box-shadow: inset 1px 0 var(--color-timeline-target-badge-border), inset .2em 0 1px var(--color-timeline-target-badge-shadow) !important;
		margin-left: 0 !important;
		padding-left: 12px !important;
	}*/

	/* Make all headers blue */
	.menu-heading,
	.Box-header:not(.js-collab-repo-owner), .file-header,
	#readme > div[style],
	.js-suggested-changes-blob > div:first-child {
		border: 1px solid var(--color-box-header-blue-border) !important;
		background-color: var(--color-box-header-blue-bg) !important;
		margin: -1px -1px 0 !important;
	}
	.file-header + .border-top {
		border-top: none !important;
	}

	/* Explore */
	aside[aria-label="Explore"] {
		padding: 32px !important;
		margin: 0 !important;
		background-color: var(--color-bg-primary);
		border-left: 1px solid var(--color-border-secondary);
	}
	nav[aria-label="Explore navigation"] .col-lg-3.mr-2 {
		width: 18% !important;
	}

	/* User status */
	.user-status-container .user-status-circle-badge-container {
		position: unset !important;
		width: auto !important;
		height: auto !important;
		margin: 16px 0 0 !important;
	}
	.user-status-circle-badge-container > div {
		width: 100%;
	}
	.user-status-circle-badge-container .user-status-circle-badge {
		width: 100% !important;
		border-radius: 3px !important;
	}
	.user-status-circle-badge .user-status-message-wrapper {
		width: 100% !important;
		opacity: 1 !important;
	}
	.user-status-circle-badge-container .user-status-emoji-container {
		margin-right: 8px !important;
	}
	.user-status-circle-badge-container .user-status-circle-badge,
	.user-status-circle-badge-container:hover .user-status-circle-badge {
		box-shadow: none !important;
	}
	.user-status-message-wrapper .css-truncate.css-truncate-target {
		white-space: auto;
	}
	.user-status-message-wrapper.no-wrap {
		white-space: normal !important;
	}

	/* Line count */
	[data-color-mode=light] {
		--color-diff-blob-num-text-bg: #f7f8f9;
		--color-diff-blob-num-text-border: #dbdcde;
		--color-diff-blob-num-text: rgba(27,31,35,.5) !important;
		--color-diff-blob-num-hover-text: rgb(27,31,35) !important;
	}
	[data-color-mode=dark] {
		--color-diff-blob-num-text-bg: #0d1117;
		--color-diff-blob-num-text-border: #10151d;
		--color-diff-blob-num-text: rgba(240,246,252,.4) !important;
		--color-diff-blob-num-hover-text: rgba(240,246,252,.8) !important;
	}
	.blob-num {
		background-color: var(--color-diff-blob-num-text-bg);
		border-right: 1px solid var(--color-diff-blob-num-text-border);
	}

	/* Footer */
	footer {
		background-color: #f8f9fb;
		margin-top: 0 !important;
	}
	footer > div > div {
		margin-bottom: 0 !important;
	}
	main > .border-bottom {
		border-color: var(--color-border-primary) !important;
	}
	footer .bg-gray-light {
		border-top: 1px solid var(--color-border-primary);
		background-color: #f4f5f7 !important;
	}

	/* File info divider */
	.file-info-divider {
		background-color: var(--color-border-tertiary) !important;
		height: 22px !important;
		margin-right: 5px !important;
		margin-left: 5px !important;
	}

	/* Set successor */
	form[aria-label="Designate Successor"] > div > div {
		width: 100% !important;
		padding-right: 0 !important;
	}

	/* etc */
	#readme > .is-stuck {
		border-radius: 0 !important;
	}
	.TimelineItem-break {
		background-color: transparent !important;
		margin: 0 0 -20px -56px !important;
	}
	.page-profile main > div {
		margin-top: 0 !important;
	}
	.form-control, .form-select {
		line-height: 21px !important;
	}

	/* 6px -> 3px rounded corners */
	/* frameworks-next-699624e4062c462162146d384a2e859d.css */
	kbd,
	.Box,
	.btn, /* .btn-large, .btn-with-count, */
	.form-control,
	.form-select,
	.form-checkbox label em.highlight,
	.form-warning,
	.form-group.errored .error,
	.form-group.errored .success,
	.form-group.errored .warning,
	.form-group.successed .error,
	.form-group.successed .success,
	.form-group.successed .warning,
	.form-group.warn .error,
	.form-group.warn .success,
	.form-group.warn .warning,
	.upload-enabled.focused,
	.menu,
	.filter-item,
	.pagination a,
	.pagination em,
	.pagination span,
	/*.tooltipped:after,*/
	.rounded,
	.rounded-1,
	.rounded-2,
	.rounded-sm,
	.rounded-sm-2,
	.ajax-pagination-form .ajax-pagination-btn,
	.auth-form-message,
	.two-factor-help,
	.session-authentication .flash,
	.session-authentication .auth-form-body,
	.session-authentication .create-account-callout,
	/* github-55fa860ce9921cde759bf03b4a6bf279.css */
	.flash,
	.autocomplete-results,
	.suggester,
	.avatar,
	.CircleBadge,
	.blankslate code,
	.branch-name,
	.dropdown-menu,
	.IssueLabel, /* 2em */
	.label, .Label, /* 2em */
	.state, .State, /* 2em */
	.Counter, /* 2em */
	.markdown-body kbd,
	.markdown-body code,
	.markdown-body tt,
	.markdown-body .highlight pre,
	.markdown-body pre,
	.Progress,
	.SelectMenu-modal, /* 12px */
	.TimelineItem-badge, /* 50% */
	.Toast,
	.boxed-group,
	.list-group-item .assignee img,
	.progress-bar,
	.select-menu-loading-overlay, /* 5px */
	.select-menu-modal,
	.select-menu-text-filter input,
	.select-menu-button-gravatar img,
	.select-menu-item-gravatar img,
	.select-menu-item-gravatar,
	.capped-card,
	.comment-form-error,
	.commit-form,
	.commit-form-avatar,
	.commit-ref,
	.full-commit,
	.signed-commit-badge,
	.signed-commit-badge-large,
	.signed-commit-badge-medium,
	.signed-commit-badge-small,
	.copyable-terminal,
	.add-line-comment,
	.inline-comment-form,
	.sidebar-progress-bar .progress-bar,
	.timeline-comment-avatar,
	.timeline-comment,
	.review-comment:target,
	.timeline-comment-header:only-child,
	.timeline-comment-label,
	.discussion-item-icon, /* 50% */
	.kb-konami-dialog .Box-btn-octicon,
	.steps,
	.protip code,
	.marketing-hero-octicon, /* 50px */
	.intgr-admin-link,
	.not-found-octocat-wrapper, /* 45px */
	.credit-card, /* 10px */
	.usage-bar, /* 20px */
	.usage-bar .progress, /* ^ */
	.CodeMirror-hints,
	.status-meta-file-name,
	.branch-action-icon,
	.branch-action-body,
	.completeness-indicator-success, /* 50% */
	.completeness-indicator-error, /* ^ */
	.completeness-indicator-problem, /* ^ */
	.RecentBranches,
	.range-editor,
	ul.comparison-list,
	.checks-summary-conclusion, /* 50% */
	.code-list .file-box,
	.CommunityTemplate-highlight,
	.compare-cutoff,
	.dif-cutoff,
	.compare-pr-placeholder,
	.tint-box,
	.coupons .coupon-form-body,
	.coupon-icon, /* 40px */
	.dashboard-notice,
	.discussion-comment .reaction-summary-item:not(.add-reaction-btn),
	.file,
	.graph-canvas .activity,
	.svg-tip,
	.topic-tag,
	.topic-tag-action,
	.discussion-post .reaction-summary-item:not(.add-reaction-btn),
	.hook-delivery-guid,
	.hook-delivery-container pre,
	.hook-delivery-response-status,
	.integrations-select-repos,
	/*.integrations-select-repos::-webkit-scrollbar-thumb,*/
	.issues-reset-query-icon,
	.label-select-menu .color,
	.reaction-sort-item,
	.repository-lang-stats ol.repository-lang-stats-numbers li .language-color, /* 50% */
	.ScreenshotCarousel,
	.MarketplaceEdit-body .CircleIcon, /* 50% */
	.BarChart,
	.CircleBadge--github:after, /* 100px */
	.network .gravatar,
	.news .alert .gravatar,
	.news .commits li img,
	.thread-subscription-status,
	.oauth-permissions-details.oauth-public-data-only,
	.oauth-permissions-details .permission-summary em.highlight,
	.oauth-org-access-details .boxed-group-inner,
	.org-insights-graph-canvas .activity.
	.org-insights-svg-tip.comparison li .legend, /* 50% */
	.saml-settings-form .test-status-indicator, /* ^ */
	.confirm-removal-list-container,
	.manage-repo-access-group,
	.manage-repo-access-teams-group,
	.project-column, /* @media (min-width: 554px) */
	.card-filter-autocomplete-dropdown .navigation-focus,
	.card-filter-autocomplete-dropdown [aria-selected=true],
	.new-user-avatar-cta,
	.blocked-user-notice,
	.profile-rollup-wrapper .progress-bar,
	.stale-files-tab,
	.pr-toolbar .subset-files-tab,
	.review-comment .reaction-summary-item:not(.aGdd-reaction-btn),
	.review-comment .is-comment-editing,
	.review-summary-form-wrapper,
	.diffstat-summary,
	.release-timeline-tags .tag-timeline-date:after,
	.upload-progress, /* 30px */
	.upload-progress .upload-meter,
	.repo-file-upload-target.dragover .repo-file-upload-outline, /* 5px */
	.repo-file-upload-tree-target .repo-file-upload-outline, /* ^ */
	.overall-summary,
	.repo-language-color, /* 50% */
	.prereceive-feedback,
	.profile-picture > img,
	.user-key-badge,
	.user-key-email,
	.logo-box,
	.logo-box img,
	.saved-reply-form,
	.two-factor-steps,
	.two-factor-toggle .two-factor-on,
	.github-access-banner,
	.qr-code-table,
	.session-device .session-state-indicator, /* 5px */
	.listgroup,
	.user-already-added:after,
	.protected-branch-admin-permission,
	.setup-info-module,
	.shelf-dismiss .close-button, /* 28px */
	.orgs-help-item-octicon, /* 50px */
	.business-sso .business-sso-panel, /* 5px */
	.business-sso .org-sso-panel, /* ^ */
	.org-sso .business-sso-panel, /* ^ */
	.org-sso .org-sso-panel, /* ^ */
	.business-sso .sso-recovery-callout, /* ^ */
	.org-sso .sso-recovery-callout, /* ^ */
	.team-label-ldap,
	#user-content-toc td,
	.user-status-circle-badge,
	.ColorSwatch, /* second 2em */
	.label-select-menu .color,
	.Box--responsive .Box-row--unread:before, /* 50% */
	.Box--responsive, /* @media (min-width: 544px) */
	.IssueLabel--big.lh-condensed, /* 2em */
	.avatar-user, /* 50% */
	image-crop .handle:before, /* ^ */
	image-crop.image-crop-user .crop-box, /* ^ */
	/* site-dfba4b408f2494358f8d655558507d21.css */
	.btn-mktg,
	.btn-mktg-fluid,
	.btn-mktg-fluid:before,
	.rounded-2-fluid,
	.form-control-mktg,
	.testimonial,
	.page-nav-item,
	.Tile,
	.codespaces-illo-source-control, /* 11px */
	.codespacer-footer-container, /* 24px */
	.illflow-item, /* @media (min-width: 768px */
	.home-hero-signup .form-control-lg,
	.actions-event-token,
	.insights-dash-dot-ripple > span, /* 50% */
	.insights-dash-dot-ripple > div, /* ^ */
	.packages-badge, /* 12px */
	.MarketingBody img,
	.section-mobile-notification:after,
	.phone-buttons,
	.phone-buttons:after,
	.phone-buttons:before,
	.phone-background, /* 50px */
	.phone-background:before, /* 45px */
	.team-octicon:after, /* 50% */
	/* not present */
	.counter, .Counter,
	.review-comment .reaction-summary-item,
	.issues-reset-query-icon
	{
		border-radius: 3px !important;
	}

	.js-suggested-changes-blob > div:first-child,
	.tabnav-tab.selected,
	.tabnav-tab[aria-current]:not([aria-current="false"]),
	.tabnav-tab[aria-selected="true"],
	.auth-form-header, /* a */
	.Box-header,
	.file-header,
	.suggester li:first-child,
	.SelectMenu-tab,
	.boxed-group .heading,
	.boxed-group > h3,
	.boxed-group .tabnav.heading li:first-child .selected,
	.list-group-item:first-child,
	.select-menu-tabs .select-menu-tab-nav,
	.select-menu-tabs a,
	.table-list-header,
	.Box--overlay .Box-header,
	.signed-commit-header,
	.timeline-comment-header,
	.previewable-comment-form .comment-form-head.tabnav,
	.pagehead-tabs-item,
	.reponav-item,
	.CodeMirror-hint .CodeMirror-hint:first-child,
	ul.comparison-list > li.title,
	.graph-before-activity-overview,
	.discussions-top-wrapper-bar,
	.file-header,
	.oauth-permissions-details:first-child,
	.oauth-org-access-details .oauth-org-item:first-child,
	.add-member-team-list .team-row-header,
	.manage-repo-access-title,
	.manage-memberships-tabs-item,
	.pull-request-review-menu .select-menu-header,
	.pull-request-suggested-changes-menu .select-menu-header,
	.uploaded-files,
	.uploaded-files.not-populated + .drop-target .drop-target-label,
	.uploaded-files > li.delete:nth-child(2),
	.saved-reply-form .tabnav-tab.selected,
	.avatar-before-user-status, /* @media (min-width: 768px) */
	.Box--responsive .Box--header, /* @media (min-width: 544px) */
	.pagination-loader-container button.bg-white.border-0
	/* site-dfba4b408f2494358f8d655558507d21.css */
	{
		border-radius: 3px 3px 0 0 !important;
	}
	.Box--responsive .Box-body,
	.auth-form-body,
	.suggester li:last-child,
	.blankslate-capped,
	.boxed-group-inner,
	.boxed-group-standalone > li:last-child,
	.list-group-item:last-child,
	.select-menu-item.last-visible,
	.select-menu-list:last-child .select-menu-item:last-child,
	.full-commit .commit-meta,
	.commit-build-statuses .merge-status-item:last-child,
	.inline-review-comment tr:last-child,
	.CodeMirror-hint .CodeMirror-hint:last-child,
	.branch-action-body .merge-branch-form,
	.branch-action-body .merge-message,
	.file-blankslate,
	.repository-lang-stats-graph,
	.oauth-permissions-details:last-child,
	.manage-repo-access-list-item:last-child,
	.pull-request-review-menu .form-actions,
	.pull-request-suggested-changes-menu .form-actions,
	.review-thread-reply,
	.access-form-wrapper,
	.follow-list .flagged-banner,
	.hx_sm-hide-drag-drop textarea /* @media (max width: 767px) */
	{
		border-radius: 0 0 3px 3px !important;
	}
	/*.subnav-item:first-child {
		border-top-left-radius: 3px !important;
		border-bottom-left-radius: 3px !important;
	}
	.subnav-item:last-child,
	.social-count {
		border-top-right-radius: 3px !important;
		border-bottom-right-radius: 3px !important;
	}*/
	.manifest-errors,
	.golden-ticket-button:last-child,
	.branch-a-b-count .bar-ahead,
	.branch-a-b-count .bar-ahead .meter,
	.delete-topic-button,
	.delete-topic-link,
	.topic-tag-action .remove-topic-button,
	.revision-number,
	.is-bad-file .repo-file-upload-errors,
	.is-empty .repo-file-upload-errors,
	.is-failed .repo-file-upload-errors,
	.is-hidden-file .repo-file-upload-errors,
	.is-too-big .repo-file-upload-errors,
	.is-too-many .repo-file-upload-errors,
	.url-box-clippy .zeroclipboard-button,
	.user-key-email-unverified
	{
		border-radius: 0 3px 3px 0 !important;
	}
	.golden-ticket-button:first-child,
	.branch-a-b-count .bar-behind,
	.branch-a-b-count .bar-behind .meter,
	.clone-url-button:first-child .clone-url-link,
	.review-comment-contents .markdown-body .task-list-item
	{
		border-radius: 3px 0 0 3px !important;
	}
	.credit-card .cvv /* lol */
	{
		border-top-left-radius: 20px 10px;
		border-top-right-radius: 20px 10px;
		border-bottom-right-radius: 20px 10px;
		border-bottom-left-radius: 20px 10px;
	}
	.inline-review-comment tr:last-child .blob-code:first-child,
	.inline-review-comment tr:last-child .blob-num:first-child,	
	.previewable-comment-form .comment-form-head.tabnav,
	.repository-lang-stats-graph .language-color:first-child,
	.summary-stats li:first-child
	{
		border-bottom-left-radius: 3px !important;
	}
	.inline-review-comment tr:last-child .blob-code:last-child,
	.inline-review-comment tr:last-child .blob-num:last-child,
	.repository-lang-stats-graph .language-color:last-child
	{
		border-bottom-right-radius: 3px !important;
	}

	/* */
	.rounded-1 {
		border-radius: 3px !important;
	}
	.rounded-top-1 {
		border-top-left-radius: 3px !important;
	}
	.rounded-right-1,
	.rounded-top-1 {
		border-top-right-radius: 3px !important;
	}
	.rounded-bottom-1,
	.rounded-right-1 {
		border-bottom-right-radius: 3px !important;
	}
	.rounded-bottom-1,
	.rounded-left-1 {
		border-bottom-left-radius: 3px !important;
	}
	.rounded-left-1 {
		border-top-left-radius: 3px !important;
	}

	/* */
	.rounded-2-fluid {
		border-radius: 3px !important;
	}
	.rounded-top-2-fluid {
		border-top-left-radius: 3px !important;
		border-top-right-radius: 3px !important;
	}
	.rounded-right-2-fluid {
		border-top-right-radius: 3px !important;
		border-bottom-right-radius: 3px !important;
	}
	.rounded-bottom-2-fluid {
		border-bottom-right-radius: 3px !important;
		border-bottom-left-radius: 3px !important;
	}
	.rounded-left-2-fluid {
		border-bottom-left-radius: 3px !important;
		border-top-left-radius: 3px !important;
	}
	@media (min-width:544px) {
		.rounded-sm-2-fluid {
			border-radius: 3px !important;
		}
		.rounded-sm-top-2-fluid {
			border-top-left-radius: 3px !important;
			border-top-right-radius: 3px !important;
		}
		.rounded-sm-right-2-fluid {
			border-top-right-radius: 3px !important;
			border-bottom-right-radius: 3px !important;
		}
		.rounded-sm-bottom-2-fluid {
			border-bottom-right-radius: 3px !important;
			border-bottom-left-radius: 3px !important;
		}
		.rounded-sm-left-2-fluid {
		border-bottom-left-radius: 3px !important;
		border-top-left-radius: 3px !important;
		}
	}
	@media (min-width:768px) {
		.rounded-md-2-fluid {
			border-radius: 3px !important;
		}
		.rounded-md-top-2-fluid {
			border-top-left-radius: 3px !important;
			border-top-right-radius: 3px !important;
		}
		.rounded-md-right-2-fluid {
			border-top-right-radius: 3px !important;
			border-bottom-right-radius: 3px !important;
		}
		.rounded-md-bottom-2-fluid {
			border-bottom-right-radius: 3px !important;
			border-bottom-left-radius: 3px !important;
		}
		.rounded-md-left-2-fluid {
			border-bottom-left-radius: 3px !important;
			border-top-left-radius: 3px !important;
		}
	}
	@media (min-width:1012px) {
		.rounded-lg-2-fluid {
			border-radius: 3px !important;
		}
		.rounded-lg-top-2-fluid {
	 		border-top-left-radius: 3px !important;
	 		border-top-right-radius: 3px !important;
		}
		.rounded-lg-right-2-fluid {
			border-top-right-radius: 3px !important;
			border-bottom-right-radius: 3px !important;
		}
		.rounded-lg-bottom-2-fluid {
			border-bottom-right-radius: 3px !important;
			border-bottom-left-radius: 3px !important;
		}
		.rounded-lg-left-2-fluid {
			border-bottom-left-radius: 3px !important;
			border-top-left-radius: 3px !important;
		}
	}
	@media (min-width:1280px) {
			.rounded-xl-2-fluid {
	 			border-radius: 3px !important;
			}
			.rounded-xl-top-2-fluid {
	 			border-top-left-radius: 3px !important;
				border-top-right-radius: 3px !important;
			}
			.rounded-xl-right-2-fluid {
	 			border-top-right-radius: 3px !important;
				border-bottom-right-radius: 3px !important;
			}
			.rounded-xl-bottom-2-fluid {
	 			border-bottom-right-radius: 3px !important;
	 			border-bottom-left-radius: 3px !important;
			}
			.rounded-xl-left-2-fluid {
	 			border-bottom-left-radius: 3px !important;
	 			border-top-left-radius: 3px !important;
			}
	}
}
