@-moz-document domain('youtube.com') {
	/* No theater mode transition */
	#watch7-sidebar, #theater-background {
		-webkit-transition: none !important;
		-moz-transition: none !important;
		transition: none !important;
	}

	/* No theater mode background */
	#theater-background {
		background-color: transparent !important;
	}
}
