@-moz-document domain('youtube.com') {
	/*
	 * Start
	 */
	body, input, button, textarea, select {
		font-family: "YouTube Noto",Roboto,arial,sans-serif !important;
	}
	ytd-app {
		background: var(--yt-spec-general-background-b) !important; /* #f1f1f1 */
	}

	/*
	 * Header
	 */
	#container.ytd-masthead {
		height: 48px !important;
	}
	html:not(.style-scope) {
		--ytd-toolbar-height: 48px !important;
		--yt-border-color: #e8e8e8 !important;
	}
	#container.ytd-masthead {
		border-bottom: 1px solid var(--yt-border-color) !important;
	}

	/* Fix the icon size idk stfu */
	#logo-icon-container.ytd-topbar-logo-renderer {
		width: 100px !important;
		height: 30px !important;
	}

	/* Don't show Youtube apps */
	.style-scope.ytd-masthead.style-default:nth-child(2) {
		display: none !important;
	}

	/* Move the searchbox where it belongs */
	#center.ytd-masthead {
		margin-left: -770px !important;
	}

	/* Searchbox */
	#container.ytd-searchbox {
		border-radius: 0 !important;
		padding: 0.5px 5px !important;
	}

	/* not important stfu */
	/*#search-icon-legacy.ytd-searchbox {
		width: unset !important;
	}

	/* Searchbox input */
	#search-input.ytd-searchbox-spt input {
		margin-left: 0 !important;
	}

	/* Left side */
	#guide-conent.ytd-app {
		border-right: 1px solid var(--yt-border-color);
	}

	/*
	 * Homepage
	 */

	/* use entire width */
	ytd-app[mini-guide-visible_] ytd-page-manager.ytd-app {
		margin-left: unset !important;
	}

	/* ..or not */
	#contents.ytd-rich-grid-renderer,
	#grid-title.ytd-rich-grid-renderer {
		width: 1280px !important;
	}

	/* Remove avatars and recommendations */
	#avatar-link.ytd-rich-grid-video-renderer,
	#chips.ytd-rich-grid-renderer {
		display: none !important;
	}

	/* Remove padding */
	#meta.ytd-rich-grid-video-renderer {
		padding-right: unset !important;
	}

	/* More compact view */
	ytd-rich-item-renderer {
		margin-left: unset !important;
		margin-right: 10px !important;
		margin-bottom: 12px !important;
	}

	/*
	 * Video
	 */

	/* Video information */
	ytd-video-primary-info-renderer {
		background-color: var(--yt-spec-brand-background-primary);
		box-shadow: 0 1px 2px rgba(0,0,0,.1);
		padding: 20px 12px 8px 12px !important;
		margin-top: 24px;
		border-image: linear-gradient(to right, transparent, var(--yt-spec-10-percent-layer) 10%, var(--yt-spec-10-percent-layer) 90%, transparent) 1;
	}

	ytd-video-secondary-info-renderer {
		background-color: var(--yt-spec-brand-background-primary);
		/*background-color: var(--yt-spec-black-pure-alpha-30);*/
		box-shadow: 0 1px 2px rgba(0,0,0,.1);
		padding-left: 12px;
		padding-right: 12px;
		border-bottom: none !important;
	}

	/* Show more / less */
	.more-button.ytd-video-secondary-info-renderer,
	.less-button.ytd-video-secondary-info-renderer {
		padding-top: 4px;
	}

	/* Don't show sponsor/analytics/miniplayer button */
	#sponsor-button.ytd-video-owner-renderer,
	#analytics-button.ytd-video-owner-renderer,
	.ytp-miniplayer-button.ytp-button {
		display: none;
	}

	/*
	 * Comments
	 */

	ytd-comments {
		background-color: var(--yt-spec-brand-background-primary);
		box-shadow: 0 1px 2px rgba(0,0,0,.1);
		padding: 15px;
		padding-bottom: 0;
	}

	ytd-comments-header-renderer {
		margin-top: unset !important;
		margin-bottom: 16px !important;
		padding-bottom: 16px;
		border-bottom: 1px solid var(--yt-border-color);
	}

	ytd-comment-thread-renderer {
		margin-bottom: var(--ytd-comment-thread-margin-bottom, 12px) !important;
		padding-bottom: 6px;
		border-bottom: 1px solid var(--yt-border-color);
	}

	ytd-comment-thread-renderer:last-child {
		margin-bottom: 0 !important;
		border-bottom: none;
	}

	/* Comment count text */
	.count-text.ytd-comments-header-renderer {
		text-transform: lowercase;
	}

	#count.ytd-comments-header-renderer {
		border-right: 1px solid var(--yt-border-color) !important;
		margin: unset !important;
		margin-right: 12px !important;
		padding-right: 12px !important;
	}

	yt-sort-filter-sub-menu-renderer.ytd-comments-header-renderer {
		margin-top: -2px !important;
	}

	/*
	 * Right side
	 */

	ytd-watch-next-secondary-results-renderer {
		background-color: var(--yt-spec-brand-background-primary);
		box-shadow: 0 1px 2px rgba(0,0,0,.1);
		padding: 15px;
	}

	/* Remove padding */
	.metadata.ytd-compact-video-renderer {
		padding-right: unset !important;
	}

	/* Autoplay */
	.toggle-button.paper-toggle-button {
    top: -2px !important;
    left: 1px !important;
    height: 18px !important;
    width: 18px !important;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5) !important;
	}

	/* 'NEW' */
	.badge-style-type-simple.ytd-badge-supported-renderer {
		border-radius: unset !important;
		border: 1px solid var(--yt-spec-badge-chip-background) !important;
		padding: 0.5px 4px !important;
		line-height: unset !important;
		text-transform: uppercase;
	}

	/*
	 * etc
	 */

	/* Fix the spacing (24px -> 10px) */
	/*ytd-watch-flexy:not([theater]):not([fullscreen]) #primary.ytd-watch-flexy,
	ytd-watch-flexy:not([theater]):not([fullscreen]) #secondary.ytd-watch-flexy {
		padding-top: 10px !important;
	}

	ytd-watch-flexy[theater] #secondary.ytd-watch-flexy,
	ytd-watch-flexy[fullscreen] #secondary.ytd-watch-flexy {
		margin-top: 10px !important;
	}

	#primary.ytd-watch-flexy {
		padding-right: 10px !important;
	}

	ytd-video-secondary-info-renderer {
		margin-bottom: 10px !important;
	}
	
	/* Make the avatars squared (in comments) */
	#avatar.ytd-video-owner-renderer,
	#author-thumbnail.ytd-comment-simplebox-renderer,
	#author-thumbnail.ytd-comment-renderer yt-img-shadow.ytd-comment-renderer,
	#author-thumbnail.ytd-backstage-post-renderer yt-img-shadow.ytd-backstage-post-renderer {
		border-radius: 0 !important;
	}

	/* Make the text normal */
	#autoplay.ytd-compact-autoplay-renderer,
	ytd-comment-action-buttons-renderer:not([use-comment-icon]) #reply-button.ytd-comment-action-buttons-renderer ytd-button-renderer.ytd-comment-action-buttons-renderer:not([is-icon-button]).ytd-comment-action-buttons-renderer,
	ytd-comment-action-buttons-renderer:not([use-comment-icon]) #reply-button-end.ytd-comment-action-buttons-renderer ytd-button-renderer.ytd-comment-action-buttons-renderer:not([is-icon-button]).ytd-comment-action-buttons-renderer {
		text-transform: unset !important;
	}
}
