:root {
	/**
	 * Text
	**/
	--text-color-deemphasized: var(--fg2) $i;
	--text-color-error: var(--color9) $i;

	/**
	 * Borders
	**/
	--border-radius-small: var(--border-radius) $i;
	--border-radius-medium: var(--border-radius) $i;

	/**
	 * Shadows
	**/
	--box-shadow-10: var(--shadow-low);

	/**
	 * Spacing
	**/
	--space-xsmall: var(--pad) $i;
	--space-small: var(--pad) $i;
	--space-medium: var(--pad) $i;
	--space-large: var(--pad) $i;
	--space-xlarge: var(--pad) $i;
	--space-xxlarge: var(--pad) $i;
}
