[class*="chatroomgroupsettings_"] {
	@include child-attr("LeaveButton") {
		@include color($color1, color);

		g {
			stroke: $color1 $i;
		}
	}

	@include child-attr("Notification") {
		color: $hl $i;

		path {
			fill: $hl $i;
		}
	}
}
