$pad: 8px;
$icon-size: 20px;
$icon-spacing: 4px;

// Remove elements
.friendListFooter, .window_resize_grip, // Resize grip
.createChatRoomButton
{
	display: none;
}

/* Remove label and search,
 * but leave "Add friend" button alone
 */
.socialListTab {
	height: 0 $i;
	padding-top: 0 $i;
}
.tabLabel, .TabSearchButton {
	display: none $i;
}
.friend {
	&List {
		&HeaderContainer {
			min-height: unset $i;
		}
		&Button {
			margin: 0 $i;
		}
	}

	@at-root .addFriendButton,
	&RequestButton {
		position: fixed $i;
		top: $header-h + $pad;
		@include box($icon-size, true);
		margin: 0 $i;

		svg {
			margin: 0 $i;
		}
	}
	@at-root .addFriendButton {
		right: $icon-size + $icon-spacing + $pad;
	}
	&RequestButton {
		right: $icon-size * 2 + $icon-spacing * 2 + $pad;
	}
}

// Titlebar
.currentUser {
	&Container {
		background-color: $bg;
		border-bottom-color: $border $i;
		height: $avatar-size + $pad * 2 $i;

		.focused & {
			background-color: $accent;
			border-bottom-color: $accent-border $i;
		}
	}

	&Container .avatarHolder, &Avatar {
		@include box($avatar-size, true);
	}
}
.friend {
	&list {
		@include bg($bg);

		.title-area {
			height: $header-h + $avatar-size + $pad * 2 $i;
		}
	}
	&List {
		&Collapse, &Buttons {
			right: $pad $i;
		}
		&Buttons {
			top: $header-h + $pad $i;
		}
	}
	&SettingsButton,
	&CollapseButton {
		@include box($icon-size, true);
	}
}
.labelHolder {
	margin: 0 $pad $i;
	justify-content: center $i;
}
.statusAndName {
	margin: 0 $i;
}
.gameName.richPresenceLabel {
	color: $text-muted $i;
}

// Not signed in
.chat_main {
	background-color: $bg $i;
	color: $text $i;

	.TitleBar {
		height: $avatar-size + $pad * 2 $i;
	}
	.titleBarContainer .TitleBar {
		box-shadow: $shadow-mid $i;
		height: $header-h + $avatar-size + $pad * 2 $i;
	}
}
.AvatarAndUser {
	padding-top: $pad $i;
	padding-left: $pad $i;
	padding-bottom: $pad $i;
}
.FriendsFailureContainer {
	padding: $pad $i;

	.summaryText {
		color: $color3 $i;
		margin: $pad * 2 0 $pad 0 $i;
	}
	.detailText {
		margin: $pad $pad * 2 $i;
	}
	.retryButton {
		@include bg($bg2);
		color: $text $i;
		border: 1px solid $border $i;
		border-radius: $border-radius $i;
		margin: 0 $i;
		margin-top: $pad $i;
		margin-left: $pad * 2 $i;
		width: calc(100% - $pad * 4) $i;

		&:hover {
			border-color: $hl $i;
		}
		&:active {
			background-color: $bg3 $i;
		}
	}
}

// Content
.friend {
	&Group {
		&:first-child {
			border-top: none $i;
		}
		&.gameGroup {
			padding: 4px 0 4px 12px $i;
		}
	}
}
