/* Remove elements
 * Order: left, right, fixes */
div[class^="gamelistbar_GameListHomeAndSearch"],
div[class^="gamelistdropdown_ScrollToTop"],
div[class^="gamelistdropdown_ViewFiltersBar"],
div[class^="gamelist_Container"] ::-webkit-scrollbar { // temp
	display: none;
}

div[class^="libraryhome_LibraryHome"],
div[class^="libraryhome_UpdatesContainer"],
div[class^="library_LibraryWindowDivider"],
div[class^="library_TopGradient"],
div[class^="library_AppDetailsOverlayTransitionGroup"], // ?
div[class^="appdetails_Header"],
div[class^="appdetailssectionheader_SectionHeader"],
div[class^="appdetailsactivitysection_NoActivity"],
div[class^="appactionbutton_StreamingSelector"],
div[class^="posttextentry_PostTextEntry"],
div[class^="appdetailsactivitysection_ViewLastNews"],
div[class^="appdetailsoverview_RightColumn"] {
	display: none !important;
}

div[class^="appdetailsactivitysection_ActivityFeedContainer"] {
	max-width: 100% !important;
	margin-bottom: 0 !important;
}

/* Remove background, gradients and shadows */
div[class^="gamelistbar_Container"],
div[class^="gamelistsectionheader_Container"],
div[class^="smartscrollcontainer_Container"],
div[class^="smartscrollcontainer_Container"] > div,
div[class^="appdetailsoverview_BackdropGlass"],
div[class^="appdetailsplaysection_PlayBar"] {
	background: none !important;
}

/* Input */
input {
	// Icon
	div[class^="gamelistsearchbar"] & {
		padding-left: 8px !important;
		background-image: none !important;

		& + div {
			top: 0 !important;
		}
	}

	// etc
	/*&:focus {
		padding-left: 0 !important;
	}*/

	&::placeholder {
		color: $text-muted !important;
		font-style: unset !important;
	}
}

/* Icon */
div[class^="gamelistentry_FriendIsPlaying"] {
	position: unset !important;
	margin-right: 3px;
}

/* Compact mode */
div[class^="gamelistdropdown_SearchBar"] {
	div[class^="gamelistdropdown_MenuHeader"] {
		height: $library-top-box-height !important;
	}

	& + div {
		margin: 0 0 0 6px !important;
	}
}
div[class^="gamelistsearchbar_SearchInput"] {
	min-height: $library-top-box-height !important;
}
div[class^="gamelistsearchbar_AdvancedSearchContainer"] {
	height: $library-top-box-height !important;
}

// for smaller list, a smaller font is required
/*div[class^="library_LeftListSizableContainer"] * {
	font-family: $font;
	font-size: $font-size;
}*/

.ReactVirtualized__Grid__innerScrollContainer {
	// 24px->idk list item height
	& > div {
		display: contents; // how else
	}

	// Section header
	& > div:not(:first-child) > div[class^="gamelistsectionheader_Container"] {
		margin-top: 12px;
	}

	div[class^="gamelistsectionheader_Container"] {
		border: none !important;

		div[class^="gamelistsectionheader_SectionHeaderContent"] {
			padding: 0 !important;
		}

		svg {
			margin-top: -4px !important;
		}
	}

	// 20px->12px game icon size
	div[class^="libraryassetimage_Container"] {
		width: $library-game-icon-size !important;
		height: $library-game-icon-size !important;
	}

	// List entry
	div[class^="gamelistentry_Container"] {
		border: none !important; // to remove?

		& > div {
			padding: $library-game-list-pad $library-game-list-pad * 2 !important;
		}
	}
}

/* Colors */
// Background
div[class^="library_LeftListSizableContainer"],
div[class^="library_AppDetailsTransitionGroup"] {
	background-color: $bg $i;
}

// Top
div[class^="gamelistdropdown_MenuHeader"],
div[class^="gamelistsearchbar_Container"] > div {
	background-color: $bg2 !important;
}
/* fix */ div[class^="gamelistsearchbar_AdvancedSearchContainer"] {
	border-radius: 0 4px 4px 0 !important;
}

// Section header
div[class^="collapseicon_Container"] {
	stroke: $text-muted !important;
}
div[class^="gamelistsectionheader_SectionHeaderContent"] {
	color: $text !important;

	& > span {
		letter-spacing: 0 !important;
	}
}
div[class^="gamelistsectionheader_SectionCount"] {
	color: $text-muted !important;
}

// Entry
div[class^="gamelistentry_Container"] {
	color: $text !important;

	&:hover {
		background-color: $bg2 !important;
	}
	&[class*="Uninstalled"] {
		color: $text-muted !important;
	}
	&[class*="HasContextMenuOpen"],
	&[class*="Selected"] {
		background-color: $bg3 !important;
		color: $text !important;

		& > div:hover {
			background-color: $bg3 !important;
		}
	}
}

//.gamelistentry_Container_2-O4Z.gamelistentry_Running_10Gdo .gamelistentry_DownloadProgress_3uk3F DownloadDash
