$dialog-pad: 8px;

// Fixes
.DialogInput,
._DialogInputContainer {
	//line-height: 1 $i;
}
::-webkit-scrollbar:horizontal {
	display: none;
}

// Border radius
div[class*="appproperties_SteamInputStatusGrid"],
.DialogTextInputBase,
._DialogInputContainer,
.DialogCheckbox_Container,
.DialogCheckbox,
.DialogButton {
	border-radius: $border-radius $i;
}

// xd
.Modal {
	&Position_ {
		&Content {
			box-shadow: $shadow-big $i;
			border-radius: $border-radius;
		}
		&TopBar {
			display: none;
		}
	}
	&OverlayBackground {
		background-color: transparent $i;
	}
}

// Left side
[class^="pagedsettings_"] {
	// Game properties
	@include child-attr("PagedSettingsDialog_") {
		@include child-attr("PageList_") {
			margin-left: 1px;
			margin-top: -1px;
			line-height: 1 $i;
		}
		@include child-attr("PageListColumn") {
			background-color: $bg2 $i;
			box-shadow: inset -1px 0 $accent-border $i;
			padding: 0 $i;
			min-width: $modal-left-side-width $i;
			max-width: $modal-left-side-width $i;
			position: unset $i;
		}
		@include child-attr("PageListItem") {
			text-transform: none $i;
			padding: $modal-left-side-item-pad ($modal-left-side-item-pad * 2);
			margin: 1px 0 $i;

			&:not([class*="Active"]) {
				color: $text-muted $i;

				&:hover {
					background-color: $bg3 $i;
				}
			}
		}
		&[class*="Active"] {
			background-color: $bg;
			color: $text $i;
			box-shadow:
				0 1px $accent-border,
				0 -1px $accent-border,
				inset 1px 0 $accent-border $i;
		}
	}
}

.PopupFullWindow {
	background-image: linear-gradient($gradient);
	height: calc(100% - $header-h);
}
[class^="pagedcontent_"] {
	// Anything else (group settings?)
	@include child-attr("Nav") {
		background-color: $bg2 $i;

		@include child-attr("Title") {
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			height: $header-h;
			@include center;
			color: $text $i;
			text-transform: none $i;

			&::before {
				content: 'Steam #{$delim}\00a0';
			}
		}
	}

	@include child-attr("Content") {
		@include bg($bg);
	}
}

// Right side
.Dialog {
	&Header {
		display: none;
	}
	&BodyText,
	&Label {
		color: $text $i;
	}
	&DropDown_Arrow {
		top: $dialog-pad $i;
		right: $dialog-pad $i;
	}
	&Button {
		background-color: $bg2 $i;
		color: $text $i;
		//line-height: normal $i;

		&::before {
			display: none;
		}

		&:hover {
			background-color: $bg3 $i;
		}
	}
	&Checkbox {
		@include box(16px, true);

		.SVGIcon_DialogCheck {
			@include box(13px, true);
		}
		&_Container:hover &:not(.Disabled),
		&_Container:focus &:not(.Disabled),
		&:hover:not(.Disabled),
		&:focus:not(.Disabled) {
			background-color: $bg3 $i;
		}
		&_Container {
			&[class*="Disabled"] {
				opacity: .5;
			}
		}
	}
	&Toggle_ {
		&Label {
			display: flex;
			align-items: center;
		}
		&Description {
			color: $text-muted $i;
		}
	}
	&OnOffToggle_Control {
		background-color: $text-muted2 $i;
		color: $hl-text $i;

		&.Active {
			.Off {
				background-color: $text-muted $i;
			}
			.On {
				background-color: $hl $i;
			}
		}
	}
	&TextInputBase {
		margin: 0 1px;

		&:focus {
			box-shadow: $shadow-ins $hl;
		}
	}
	&Content {
		&, &Transition {
			@include bg($bg);
		}
		&Content {
			padding: 16px $i;
		}
	}
}
.FriendsSettings {
	&NotificationRow {
		background-color: $bg2 $i;
		color: $text $i;

		&_Label {
			text-transform: unset $i;
		}
		&_Label, &_Checkbox {
			color: $text-muted $i;
		}
	}
	&FlashSection_ButtonRow {
		background-color: $bg2 $i;
	}
}
div[class*="appproperties_SteamInputStatusGrid"],
div[class^="appproperties_WorkshopHeader"],
.DialogCheckbox_Container,
.DialogTextInputBase,
._DialogInputContainer {
	background-color: $bg2 $i;
	color: $text $i;
	padding: $dialog-pad $i;
}
input {
	border: 1px solid $bg3 $i;
	@include anim('&, &:focus');

	&:focus {
		border-color: $hl $i;
	}
}
[class^="appproperties_"] {
	@include child-attr("SectionTopLine") {
		border-color: $border $i;

		&:empty { // Unsupported Steam Family Sharing
			display: none;
		}
	}
	@include child-attr("OptionDescription") {
		color: $text-muted $i;
	}
}

// Other
[class*="savecollectiondialog_"] {
	@include child-attr("Required") {
		color: $color9 $i;
	}
	@include child-attr("TwoOptionsContainer") {
		background-color: $bg2 $i;
		border-radius: $border-radius $i;
	}
	@include child-attr("Description") {
		@include bg($bg3);
		color: $text $i;
	}
}
