/* ==UserStyle==
@name					 4chan
@namespace			github.com/openstyles/stylus
@version				1.0.0
@description		A new userstyle
@author				 Me

@preprocessor stylus
==/UserStyle== */

anim(e = \&) {
	@media (prefers-reduced-motion: no-preference) {
		{e} {
			transition: var(--trans-dur);
		}
	}
}

@-moz-document domain("4channel.org") {
	// Variables
	$body-pad = 8px;
	$pad = 8px;

	// Remove elements
	#absbot,
	.boardBanner,
	.abovePostForm,
	body > form[name="post"],
	.aboveMidAd,
	.sideArrows,
	.postInfo input,
	.op input {
		display: none;
	}

	// Main rules
	body {
		background: none var(--bg) !important;
		color: var(--text) !important;
		margin: $body-pad !important;
		padding: 0 !important;
	}

	hr {
		border-color: var(--border);
	}

	#quote-preview {
		box-shadow: var(--shadow-small);
	}

	.linkified, .linkified:visited {
		color: var(--text-link) !important;

		&:hover {
			color: var(--text-link) !important;
			text-decoration: underline;
		}
	}

	#quickReply {
		box-shadow: var(--shadow-large);

		& > form {
			padding: ($pad / 2);
		}

		#qrHeader {
			background-color: var(--bg2) !important;
			border-bottom: 1px solid var(--border);
			color: var(--text) !important;
		}

		#qrForm > div:not(:last-child), textarea {
			margin-bottom: ($pad / 2) !important;
		}

		input, textarea {
			background-color: var(--bg2);
			border-color: var(--border) !important;
			color: var(--text);

			&:focus {
				border-color: var(--hl) !important;
				anim();
			}
		}

		#qrFile {
			width: unset !important;
		}
	}

	.op {
		.postInfo {
			margin-top: $pad;
		}
		.fileThumb {
			margin: $pad ($pad * 2) $pad 0 !important;
		}
	}

	.reply {
		background-color: var(--bg3) !important;
		border-color: var(--border) !important;
		border-image: linear-gradient(
			135deg,
			var(--border),
			var(--border)
		) 1;
		margin: $body-pad 0 !important;
		padding: 0 !important;
		anim('&:not(.preview), &.highlight');

		@media (max-width: 768px) {
			&:not(.preview):not(#quickReply) {
				width: 100%;
			}
		}

		&.highlight {
			background-color: var(--bg3) !important;
			box-shadow: var(--shadow-small);
			border-color: var(--border) !important;
			border-image: linear-gradient(
				135deg,
				var(--hl),
				var(--border)
			) 1 !important;
		}

		&.preview {
			&.inlined {
				background-color: var(--bg3) !important;
				box-shadow: var(--shadow-small);
			}

			&:not(.inlined) {
				margin-top: 0 !important;
			}
		}

		.postInfo {
			background-color: var(--bg2);
			border-bottom: 1px solid var(--border);
			padding: $pad;
		}

		.fileText {
			padding: $pad;
			padding-bottom: 0;
		}

		.fileThumb {
			margin: $pad ($pad * 2) $pad $pad !important;
		}

		blockquote {
			margin: 0;
			padding: $pad;

			.reply:first-child {
				margin-top: 0 !important;
			}

			.file + & {
				padding-top: 0;
			}
		}
	}

	#id_css ~ [id] {
		.pln, .subject, .postNum a:not(:hover) {
			color: var(--text-muted) !important;
		}

		.name {
			color: var(--color3);
			font-weight: unset !important;
		}
	}
}
