/* ==UserStyle==
@name           YouTube
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("youtube.com") {
	/* Remove elements */
	#voice-search-button,
	#buttons > ytd-topbar-menu-button-renderer:nth-child(2) {
		display: none !important;
	}

	/* Old YouTube fixes */
	#wrapper.tp-yt-app-header-layout > [slot=header] {
		right: 0 !important;
	}

	body.lock-scrollbar:not(.style-scope) {
		position: unset !important;
	}
}
