/* ==UserStyle==
@name           Global rules
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

/**
 * Colors
 *
 * I.   Settings
 * II.  Background
 * III. Text
 * IV.  Colorscheme
 * V.   Scrollbar
 * VI.  Other
 * VII. Global
 *
**/
@media (prefers-color-scheme: light) { :root {
	--bg-base-brightness: 100%;
	--bg-brightness: 3%;
	--bg-contrast: 0%;
	--base-hue: 0;
	--text-brightness: 15%;
	--mute-factor: 3;

	--bg: hsl(var(--base-hue), var(--bg-contrast), var(--bg-base-brightness));
	--bg2: hsl(var(--base-hue), var(--bg-contrast), calc(var(--bg-base-brightness) - var(--bg-brightness)));
	--bg3: hsl(var(--base-hue), var(--bg-contrast), calc(var(--bg-base-brightness) - var(--bg-brightness) * 2));
	--bg4: hsl(var(--base-hue), var(--bg-contrast), calc(var(--bg-base-brightness) - var(--bg-brightness) * 3));
	--bg-tr: hsla(var(--base-hue), var(--bg-contrast), var(--bg-base-brightness), .75);
	--bg-tr2: hsla(var(--base-hue), var(--bg-contrast), var(--bg-base-brightness), .5);
	--bg-tr3: hsla(var(--base-hue), var(--bg-contrast), var(--bg-base-brightness), .25);

	--text: hsl(0, 0%, var(--text-brightness));
	--text-muted: hsl(0, 0%, calc(var(--text-brightness) * var(--mute-factor)));
	--text-muted2: hsl(0, 0%, calc(var(--text-brightness) * (var(--mute-factor) * 1.5)));

	--colorscheme-saturation: calc(var(--saturation-factor) * 11%);
	--colorscheme-saturation-2: calc(var(--colorscheme-saturation) + 7%);
	--colorscheme-brightness: 43%;
	--colorscheme-brightness-2: calc(var(--colorscheme-brightness) + 8%);
	/* */
	--color1:  hsl(357, var(--colorscheme-saturation), var(--colorscheme-brightness));
	--color9:  hsl(357, var(--colorscheme-saturation-2), var(--colorscheme-brightness-2));
	--color2:  hsl(180, var(--colorscheme-saturation), var(--colorscheme-brightness));
	--color10: hsl(180, var(--colorscheme-saturation-2), var(--colorscheme-brightness-2));
	--color3:  hsl(55, var(--colorscheme-saturation), var(--colorscheme-brightness));
	--color11: hsl(55, var(--colorscheme-saturation-2), var(--colorscheme-brightness-2));
	--color4:  hsl(248, var(--colorscheme-saturation), var(--colorscheme-brightness));
	--color12: hsl(248, var(--colorscheme-saturation-2), var(--colorscheme-brightness-2));
	--color5:  hsl(300, var(--colorscheme-saturation), var(--colorscheme-brightness));
	--color13: hsl(300, var(--colorscheme-saturation-2), var(--colorscheme-brightness-2));
	--color6:  hsl(180, var(--colorscheme-saturation), var(--colorscheme-brightness));
	--color14: hsl(180, var(--colorscheme-saturation-2), var(--colorscheme-brightness-2));

	--scrollbar-track: var(--bg2);
	--scrollbar-track-button: hsl(0, 0%, calc(var(--bg-base-brightness) - (var(--bg-brightness) * 3)));
	--scrollbar-thumb: hsl(0, 0%, calc(var(--bg-base-brightness) - (var(--bg-brightness) * 6)));
	--scrollbar-thumb-hover: hsl(0, 0%, calc(var(--bg-base-brightness) - (var(--bg-brightness) * 10)));
	--scrollbar-thumb-active: var(--text);

	--accent: hsl(203, 66%, 87%);
	--accent-border: hsl(202, 83%, 74%);
	--border: hsl(var(--base-hue), var(--bg-contrast), calc(var(--bg-base-brightness) - var(--bg-brightness) * 4));
	--shadow-clr: rgba(149,157,165,.2);
}}

@media (prefers-color-scheme: dark) { :root {
	--bg-base-brightness: 6%;
	--bg-brightness: 6%;
	--bg-saturation: 52%;
	--base-hue: 224;
	--text-brightness: 80%;
	--mute-factor: 2;

	--bg: hsl(var(--base-hue), var(--bg-saturation), var(--bg-base-brightness));
	--bg2: hsl(var(--base-hue), var(--bg-saturation), calc(var(--bg-base-brightness) + var(--bg-brightness)));
	--bg3: hsl(var(--base-hue), var(--bg-saturation), calc(var(--bg-base-brightness) + var(--bg-brightness) * 1.5));
	--bg4: hsl(var(--base-hue), var(--bg-saturation), calc(var(--bg-base-brightness) + var(--bg-brightness) * 2.25));
	--bg-tr: hsla(var(--base-hue), var(--bg-saturation), var(--bg-base-brightness), .75);
	--bg-tr2: hsla(var(--base-hue), var(--bg-saturation), var(--bg-base-brightness), .5);
	--bg-tr3: hsla(var(--base-hue), var(--bg-saturation), var(--bg-base-brightness), .25);

	--text: hsl(0, 0%, var(--text-brightness));
	--text-muted: hsl(0, 0%, calc(var(--text-brightness) / var(--mute-factor)));
	--text-muted2: hsl(0, 0%, calc(var(--text-brightness) / (var(--mute-factor) * 2)));

	--colorscheme-saturation: calc(var(--saturation-factor) * 17%);
	--colorscheme-saturation-2: calc(var(--colorscheme-saturation) + 7%);
	--colorscheme-brightness: 61%;
	--colorscheme-brightness-2: calc(var(--colorscheme-brightness) + 8%);
	/* 7 8 15 16 missing */
	--color1:  hsl(356, var(--colorscheme-saturation), var(--colorscheme-brightness));
	--color9:  hsl(357, var(--colorscheme-saturation-2), var(--colorscheme-brightness-2));
	--color2:  hsl(122, var(--colorscheme-saturation), var(--colorscheme-brightness));
	--color10: hsl(122, var(--colorscheme-saturation-2), var(--colorscheme-brightness-2));
	--color3:  hsl(55, var(--colorscheme-saturation), var(--colorscheme-brightness));
	--color11: hsl(55, var(--colorscheme-saturation-2), var(--colorscheme-brightness-2));
	--color4:  hsl(249, var(--colorscheme-saturation), var(--colorscheme-brightness));
	--color12: hsl(248, var(--colorscheme-saturation-2), var(--colorscheme-brightness-2));
	--color5:  hsl(300, var(--colorscheme-saturation), var(--colorscheme-brightness));
	--color13: hsl(300, var(--colorscheme-saturation-2), var(--colorscheme-brightness-2));
	--color6:  hsl(182, var(--colorscheme-saturation), var(--colorscheme-brightness));
	--color14: hsl(182, var(--colorscheme-saturation-2), var(--colorscheme-brightness-2));

	--scrollbar-track: var(--bg2);
	--scrollbar-track-button: hsl(var(--base-hue), 64%, 10%);
	--scrollbar-thumb: hsl(var(--base-hue), 11%, 21%);
	--scrollbar-thumb-hover: hsl(var(--base-hue), 9%, 27%);
	--scrollbar-thumb-active: var(--text);

	--accent: hsl(calc(var(--base-hue) + 66), 33%, 10%);
	--accent-border: hsl(calc(var(--base-hue) + 66), 33%, 22%);
	--border: hsl(var(--base-hue), var(--bg-saturation), calc(var(--bg-base-brightness) + var(--bg-brightness) * 3.5));
	--shadow-clr: rgba(0,0,0,.2);
}}

:root {
	--saturation-factor: 1;
	--border-radius: 0;
	--trans-dur: 150ms;
	--popup-filter: blur(36px);
	--font-normal: Rosemary;
	--font-code: azukifontBI;
	/*--font-normal: CozetteVector; --font-code: var(--font-normal);*/
	--text-link: var(--hl);
	--hl: #1488ff;
	--hl-error: #cc4a4a;
	--hl-text: #fff;
	--shadow-ins: 0 0 0 1px;
	--shadow-vrt: 0 0 8px var(--shadow-clr);
	--shadow-low: 0 1px 4px var(--shadow-clr);
	--shadow-mid: 0 4px 8px var(--shadow-clr);
	--shadow-big: var(--shadow-mid), 0 28px 48px var(--shadow-clr);
}

::selection {
	background-color: var(--hl) !important;
	color: var(--hl-text) !important;
}

/* Font */
::placeholder,
.text-mono,
:not(i) {
	font-family: var(--font-normal) !important;
	//font-size: 12pt !important;
}
b, strong {
	font-weight: 700 !important;
}
code, pre, code *, pre *, tt *, table[data-tab-size] tr *,
#startpage *, #stylus * {
	font-family: var(--font-code) !important;
}

/* Scrollbar (stolen from Vivaldi) */
::-webkit-scrollbar {
	width: 16px;
}
::-webkit-scrollbar-button {
	display: flex;
	width: 16px;
	height: 16px;
}
::-webkit-scrollbar-button:vertical {
	border-left: 1px solid var(--scrollbar-track);
}
::-webkit-scrollbar-button:vertical:decrement {
	background-image: linear-gradient(transparent 68%, var(--scrollbar-track) 68%), linear-gradient(135deg, var(--scrollbar-track) 45%, transparent 45%), linear-gradient(45deg, var(--scrollbar-thumb-active) 53%, var(--scrollbar-track) 53%);
}
::-webkit-scrollbar-button:vertical:decrement:hover {
	background-image: linear-gradient(transparent 68%, var(--scrollbar-track-button) 68%), linear-gradient(135deg, var(--scrollbar-track-button) 45%, transparent 45%), linear-gradient(45deg, var(--scrollbar-thumb-active) 53%, var(--scrollbar-track-button) 53%);
}
::-webkit-scrollbar-button:vertical:decrement:active {
	background-image: linear-gradient(transparent 68%, var(--scrollbar-thumb-active) 68%), linear-gradient(135deg, var(--scrollbar-thumb-active) 45%, transparent 45%), linear-gradient(45deg, var(--scrollbar-track) 53%, var(--scrollbar-thumb-active) 53%);
}
::-webkit-scrollbar-button:vertical:increment {
	background-image: linear-gradient(45deg, var(--scrollbar-track) 45%, transparent 45%), linear-gradient(-225deg, transparent 53%, var(--scrollbar-track) 53%), linear-gradient(-180deg, var(--scrollbar-track) 31%, var(--scrollbar-thumb-active) 31%);
}
::-webkit-scrollbar-button:vertical:increment:hover {
	background-image: linear-gradient(45deg, var(--scrollbar-track-button) 45%, transparent 45%), linear-gradient(-225deg, transparent 53%, var(--scrollbar-track-button) 53%), linear-gradient(-180deg, var(--scrollbar-track-button) 31%, var(--scrollbar-thumb-active) 31%);
}
::-webkit-scrollbar-button:vertical:increment:active {
	background-image: linear-gradient(45deg, var(--scrollbar-thumb-active) 45%, transparent 45%), linear-gradient(-225deg, transparent 53%, var(--scrollbar-thumb-active) 53%), linear-gradient(-180deg, var(--scrollbar-thumb-active) 31%, var(--scrollbar-track) 31%);
}
::-webkit-scrollbar-button:horizontal {
	border-top: 1px solid var(--scrollbar-track);
}
::-webkit-scrollbar-button:horizontal:decrement {
	background-image: linear-gradient(-135deg, transparent 53%, var(--scrollbar-track) 53%), linear-gradient(-45deg, transparent 53%, var(--scrollbar-track) 53%), linear-gradient(90deg, var(--scrollbar-thumb-active) 70%, var(--scrollbar-track) 70%);
}
::-webkit-scrollbar-button:horizontal:decrement:hover {
	background-image: linear-gradient(-135deg, transparent 53%, var(--scrollbar-track-button) 53%), linear-gradient(-45deg, transparent 53%, var(--scrollbar-track-button) 53%), linear-gradient(90deg, var(--scrollbar-thumb-active) 70%, var(--scrollbar-track-button) 70%);
}
::-webkit-scrollbar-button:horizontal:decrement:active {
	background-image: linear-gradient(-135deg, transparent 53%, var(--scrollbar-thumb-active) 53%), linear-gradient(-45deg, transparent 53%, var(--scrollbar-thumb-active) 53%), linear-gradient(90deg, var(--scrollbar-track) 70%, var(--scrollbar-thumb-active) 70%);
}
::-webkit-scrollbar-button:horizontal:increment {
	background-image: linear-gradient(135deg, transparent 53%, var(--scrollbar-track) 53%), linear-gradient(45deg, transparent 53%, var(--scrollbar-track) 53%), linear-gradient(-90deg, var(--scrollbar-thumb-active) 70%, var(--scrollbar-track) 70%);
}
::-webkit-scrollbar-button:horizontal:increment:hover {
	background-image: linear-gradient(135deg, transparent 53%, var(--scrollbar-track-button) 53%), linear-gradient(45deg, transparent 53%, var(--scrollbar-track-button) 53%), linear-gradient(-90deg, var(--scrollbar-thumb-active) 70%, var(--scrollbar-track-button) 70%);
}
::-webkit-scrollbar-button:horizontal:increment:active {
	background-image: linear-gradient(135deg, transparent 53%, var(--scrollbar-thumb-active) 53%), linear-gradient(45deg, transparent 53%, var(--scrollbar-thumb-active) 53%), linear-gradient(-90deg, var(--scrollbar-track) 70%, var(--scrollbar-thumb-active) 70%);
}
::-webkit-scrollbar-track {
	background-color: var(--scrollbar-track) !important;
	background-clip: border-box;
}
::-webkit-scrollbar-track:vertical {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
::-webkit-scrollbar-track:horizontal {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb) !important;
	background-clip: padding-box;
	border-radius: 0 !important;
}
::-webkit-scrollbar-thumb:hover {
	background-color: var(--scrollbar-thumb-hover) !important;
}
::-webkit-scrollbar-thumb:active {
	background-color: var(--scrollbar-thumb-active) !important;
}
::-webkit-scrollbar-thumb:vertical {
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
}
::-webkit-scrollbar-thumb:horizontal {
	border-top: 1px solid transparent;
	border-bottom: 1px solid transparent;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-resize {
	background-color: var(--scrollbar-track);
}
