/* ==UserStyle==
@name           Unsplash
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me

@preprocessor stylus
==/UserStyle== */

anim(e = \&) {
	@media (prefers-reduced-motion: no-preference) {
		{e} {
			transition: var(--trans-dur);
		}
	}
}

@-moz-document domain("unsplash.com") {
	/* Remove elements */
	a[rel="sponsored"],
	span._1jzuO.Gehj1, // Featured
	div[style^="--row-gutter"] > div, // Related collections
	form[data-test="homepage-search-form-form"], // Second search bar
	header > nav > div:not(:first-child), // Everything but the logo/search
	button[title="Clear"], // Clear input
	button[title="Clear"] + div, // ^
	h1[data-test="page-header-title"], // Page title
	a[data-test="search-nav-link-users"], // User search
	#app > div[data-test] > footer, // Footer
	#app > div[data-test] > footer + div // ^
	{
		display: none;
	}

	/* Header */
	#app > div > header {
		position: relative !important;

		/div[data-test="search-route"] > div:first-child,
		& > nav {
			background-color: var(--accent) !important;
		}

		svg {
			fill: var(--text) !important;
		}

		form {
			background-color: var(--bg) !important;
			border-color: var(--border) !important;
			border-radius: var(--border-radius) !important;
		}

		#react-autowhatever-1 {
			background-color: var(--bg-tr) !important;
			backdrop-filter: var(--popup-filter);
			border-color: var(--border) !important;
			border-radius: var(--border-radius) !important;
			box-shadow: var(--shadow-big) !important;
			padding: 0 !important;

			li > div > div {
				background-color: var(--bg2) !important;
				//color: var(--text) !important;
				border-color: var(--border) !important;
				border-radius: var(--border-radius) !important;
				anim();

				&:hover {
					border-color: var(--hl) !important;
				}

				div[style="width: 8px;"], svg {
					display: none;
				}
			}
		}

		* {
			color: var(--text) !important;
		}
		svg[aria-labelledby="unsplash-home"] + div > span:last-child,
		input::placeholder {
			color: var(--text-muted) !important;
		}
	}

	// Menu
	button + div[role="menu"] > div {
		background-color: var(--bg-tr) !important;
		backdrop-filter: var(--popup-filter);
		border: 1px solid var(--border) !important;
		border-radius: 0 !important;
		box-shadow: var(--shadow-big) !important;
		padding: 0 !important;

		div[style="height: 8px;"] {
			display: none;
		}

		div[aria-label="Visual search form"] {
			& > div > div > div {
				border-color: var(--text) !important;
				border-radius: var(--border-radius) !important;

				& > div > div[class] {
					background-color: var(--bg) !important;
					border-color: var(--border) !important;
					border-radius: var(--border-radius) !important;

					&:focus-within {
						border-color: var(--hl) !important;
						anim();
					}
				}
			}

			button > div {
				border-radius: var(--border-radius) !important;

				& > div:first-child {
					display: none;
				}
			}
		}

		h4 {
			margin: auto !important;

			& + div {
				display: none;
			}
		}

		a[download] {
			color: var(--text) !important;

			&:hover {
				background-color: var(--hl) !important;
				color: var(--hl-text) !important;

				span {
					color: var(--hl-text) !important;
				}
			}

			&, &:hover {
				transition: none !important;
			}

			span {
				color: var(--text-muted) !important;
			}
		}

		div[style^="border-bottom-color"] {
			border-bottom-color: var(--border) !important;
		}

		hr {
			background-color: var(--border) !important;
			margin: 0 !important;
		}
	}
	div[id^="popover-search"] li > a {
		&, &:hover {
			transition: none !important;
		}

		&:hover {
			background-color: var(--hl) !important;
			& > div { color: var(--hl-text) !important; }
		}

		& > div {
			color: var(--text) !important;
		}
	}

	div[data-test="search-route"] > div:first-child {
		& > div {
			box-shadow: inset 0 -1px var(--accent-border) !important;
		}

		li {
			&:not(:first-child) {
				//padding-left: 0 !important;
			}

			& > a {
				color: var(--text) !important;

				svg {
					fill: var(--text) !important;
				}

				&[aria-current] {
					background-color: var(--bg);
					padding: 0 16px;
					box-shadow: none !important;
					border: 1px solid var(--accent-border);
					border-bottom: none;
				}
			}
		}

		button[aria-haspopup="true"] span {
			color: var(--text) !important;
		}
	}

	/* Page */
	body {
		background-color: var(--bg);
		color: var(--text) !important;
	}

	// Title
	div[data-test="search-route"] > div:nth-child(2) {
		padding-top: 0 !important;
		padding-bottom: 24px !important;
	}

	// Tags
	h1[data-test="page-header-title"] + div > div::after {
		background-image: linear-gradient(
			90deg,
			transparent 0,
			var(--bg) 90%
		) !important;
	}
	button[title="scroll list to the right"]:hover svg {
		fill: var(--text) !important;
	}
	.mkUrf > div {
		background-color: var(--bg2) !important;
		border-color: var(--border) !important;
		border-radius: var(--border-radius) !important;

		&:hover {
			border-color: var(--hl) !important;

			~/ a,
			& a {
				color: var(--text) !important;
			}
		}
	}

	// Image
	figure {
		height: 400px;

		// Tags
		& > div > div + div a {
			background-color: var(--bg2) !important;
			color: var(--text) !important;
			border: 1px solid var(--border);
			border-radius: var(--border-radius) !important;

			&:hover {
				border-color: var(--hl);
			}
		}

		// Buttons
		a[itemprop="contentUrl"] + div button,
		a[title="Download photo"] {
			background-color: var(--bg) !important;
			color: var(--text) !important;
			border-color: var(--border) !important;
			border-radius: var(--border-radius) !important;
			box-shadow: var(--shadow-low) !important;

			&:hover {
				border-color: var(--hl) !important;
			}
		}
	}

	// Photo page
	div[data-test="photos-route"] {
		._33qjA {
			position: unset !important;
		}

		header {
			background-color: var(--accent);
			box-shadow: 0 1px var(--accent-border);

			div:last-child {
				& > div:not(:last-child) button { // Like photo, add to collections
					background-color: var(--bg) !important;
					color: var(--text-muted) !important;
					border-color: var(--border) !important;
					border-radius: var(--border-radius) !important;
					box-shadow: var(--shadow-low) !important;
					anim('&, &:hover');

					&:hover {
						border-color: var(--hl) !important;
					}
				}

				& > div:last-child { // Download
					& > div > a[download] {
						background-color: var(--color10) !important;
						border-radius: var(--border-radius) 0 var(--border-radius) 0 !important;

						& + div { // Divider
							display: none;
						}
					}
					#popover-download-button {
						margin-left: -1px;

						button {
							background-color: var(--color10) !important;
							border-radius: 0 var(--border-radius) 0 var(--border-radius) !important;
						}
					}
					& > div > a[download],
					#popover-download-button button {
						border-color: var(--color2) !important;
						anim('&, &:hover');

						&:hover {
							background-color: var(--color2) !important;
						}
					}
				}
			}
		}
	}
}
