/* ==UserStyle==
@name           YouTube
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me
==/UserStyle== */

@-moz-document domain("youtube.com") {
	/* Remove elements */
	#buttons > ytd-topbar-menu-button-renderer:nth-child(2),
	#voice-search-button,
	#guide {
		display: none !important;
	}
	#page-manager {
		margin-left: 0 !important;
	}

	/* Remove video preview */
	#preview, #hover-overlays {
		display: none !important;
	}
	ytd-thumbnail-overlay-time-status-renderer {
		display: inline-block !important;
	}

	/* Old YouTube fixes */
	#wrapper.tp-yt-app-header-layout > [slot=header] {
		right: 0 !important;
	}

	body.lock-scrollbar:not(.style-scope) {
		position: unset !important;
	}

	ytd-c4-tabbed-header-renderer[has-channel-art] #avatar.ytd-c4-tabbed-header-renderer,
	ytd-c4-tabbed-header-renderer[has-channel-art] yt-img-shadow.ytd-channel-avatar-editor {
		position: absolute !important;
		width: 80px !important;
		height: 80px !important;
		left: 16px !important;
		top: -160px !important;
	}
}
