/* ==UserStyle==
@name           Discord - Padding
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me

@preprocessor stylus
==/UserStyle== */

box(w, h = w) {
	width: w !important;
	height: h !important;
}

@-moz-document domain("discord.com") {
	// Servers sidebar
	[aria-label="Servers sidebar"] {
		--server-size: 32px;

		width: calc(var(--server-size) + var(--pad) * 4) !important;

		[class^="scroller-"] {
			padding-top: var(--pad) !important;
		}
		[class^="listItem-"] {
			width: 100% !important;
			margin-bottom: var(--pad) !important;
		}
		[style*="height: 56px"] {
			height: unset !important;
		}
		.wrapper-25eVIn {
			&, & > svg {
				box(var(--server-size));
			}
		}
		[class^="pill"] {
			height: var(--server-size) !important;

			& > [style*="height: 40px"] {
				top: 0;
				height: var(--server-size) !important;
			}
		}
	}

	// Friend list
	[data-list-id="people"] {
		margin: 0;

		& > div {
			margin-top: var(--body-pad);
		}

		[role="listitem"] {
			height: unset !important;
			margin: 0 var(--body-pad);
			padding: var(--pad);

			&:first-of-type {
				border-top: none;
			}
		}
	}

	// Menu
	[role="menu"] > div {
		padding: var(--pad) !important;
		padding-right: 0 !important;

		[role="menuitem"] {
			min-height: unset !important;
			padding: var(--pad) !important;
			margin: calc(var(--pad) / 4) 0 !important;
			line-height: 1 !important;
		}
		[role="separator"] {
			margin: calc(var(--pad) / 2) !important;
		}
	}

	// Upload modal
	[class^="uploadModal-"] {
		min-height: auto !important;

		[class^="inner-"] {
			margin: 0 !important;
		}
		img {
			margin-left: var(--pad) !important;
			margin-right: var(--pad) !important;
		}
		[class^="description-"] {
			padding: var(--pad) var(--pad) calc(var(--pad) * 2);
		}
		[class^="filename-"] {
			height: unset !important;
		}
		[class^="inner-"] [class^="comment-"] {
			margin: 0 var(--pad);
		}
		[class^="channelTextAreaUpload-"] {
			margin: var(--pad) 0 !important;
		}

		[class^="footer-"] {
			padding: var(--pad) !important;

			[class^="label-"] {
				padding-left: var(--pad) !important;
			}
		}
	}

	// User popout
	[class^="userPopout-"] {
		// top
		[class^="avatarWrapperNormal-"] {
			top: var(--pad);
			left: var(--pad);
		}
		[class^="headerTop-"] {
			padding: calc(24px + var(--pad) * 3) var(--pad) var(--pad) !important;
		}
		[aria-label="User Badges"] {
			top: var(--pad) !important;
			right: var(--pad) !important;
		}

		// bottom
		[class^="body-"],
		[class^="popoutInfo-"] {
			padding: 0 var(--pad) var(--pad) !important;

			&::-webkit-scrollbar {
				display: none;
			}
		}
		[class^="divider-"] {
			margin-left: calc(var(--pad) * -1);
			margin-bottom: var(--pad) !important;
			width: calc(100% + calc(var(--pad) * 2));
			height: var(--border-width) !important;
		}
		h3:not([title]) {
			margin-bottom: var(--pad) !important;
		}
		[class^="aboutMeSection-"] {
			margin-bottom: calc(var(--pad) * 2) !important;
		}
		[role="list"] {
			margin-top: 0 !important;
			margin-bottom: calc(var(--pad) * -.5) !important;
		}
		[role="option"] {
			margin: 0 calc(var(--pad) / 2) calc(var(--pad) / 2) 0 !important;
			padding: calc(var(--pad) / 2) !important;
		}
		[class^="roleCircle-"] {
			margin-left: 0 !important;
		}
		[class^="roleName-"] {
			margin-right: 0 !important;
		}
	}

	// User popout preview
	[class^="profileBannerPreview-"] {
		// top
		[class^="avatarUploader-"] {
			top: var(--pad);
			left: var(--pad);
		}
		[class^="headerTop-"] {
			padding: calc(24px + var(--pad) * 3) var(--pad) var(--pad) !important;
		}
		[aria-label="User Badges"] {
			top: var(--pad) !important;
			right: var(--pad) !important;
		}

		// bottom
		[class^="popoutInfo-"] {
			padding: 0 var(--pad) var(--pad) !important;

			&::-webkit-scrollbar {
				display: none;
			}
		}
		[class^="divider-"] {
			margin-left: calc(var(--pad) * -1);
			margin-bottom: var(--pad) !important;
			width: calc(100% + calc(var(--pad) * 2));
			height: var(--border-width) !important;
		}
		h3 {
			margin-bottom: var(--pad) !important;
		}
		[class^="fakeActivityLayout-"] {
			margin-top: 0 !important;
		}
		[class^="fakeActivityIcon-"] {
			margin-right: calc(var(--pad) * 2);
		}
		[class^="aboutMeSection-"] {
			margin-bottom: calc(var(--pad) * 2) !important;
		}
	}

	// etc.
	.button-38aScr.sizeMedium-1AC_Sl {
		padding: calc(var(--pad) / 2) calc(var(--pad) * 2);
	}
	.wrapper-35wsBm {
		border: var(--border-width) solid var(--border);
		padding: var(--pad) !important;
	}
}
