/* ==UserStyle==
@name           Reddit
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me

@preprocessor stylus
==/UserStyle== */

anim(e = \&) {
	@media (prefers-reduced-motion: no-preference) {
		{e} {
			transition: var(--trans-dur);
		}
	}
}

replace-text(content, text-color = var(--text), pos = after) {
	letter-spacing: -9999px;
	color: transparent !important;
	background-color: transparent !important;

	&::{pos} {
		content: content;
		letter-spacing: 0;
		color: text-color;
	}
}

box(w, h = w) {
	width: w;
	height: h;
}

@-moz-document domain("reddit.com") {
	/* Variables */
	:root {
		--sidebar-width: 200px;
	}
	*{font-weight:unset!important}

	/* Remove elements */
	.comment .tagline .score, .comment .tagline .score-hidden,
	.comments-page .side > .spacer:nth-last-child(2), // Read next
	.subscribe-button, .side .submit, .users-online,
	.footer-parent, .debuginfo, // Footer
	.comments-page #header,
	.read-next-container,
	.linkflairlabel,
	#sr-header-area, // Header top
//	.message-button,
	.awardings-bar,
	.report-button,
	#header-img,
//	.redditname,
	.linkinfo // Sidebar post info
	{
		display: none !important;
	}

	// Not logged in
	#header-bottom-right, #login_login-main, .commentsignupbar,
	.side > .spacer:last-child, // Moderator list
	.give-gold-button, .share,
	.midcol {
		display: none;
	}

	/* Header */
	#header {
		background-color: var(--accent) !important;
		border-bottom-color: var(--accent-border) !important;

		.pagename {
			font-variant: unset !important;

			a {
				color: var(--text) !important;

				&::before {
					content: '/r/';
				}
			}
		}

		.tabmenu li {
			margin: 0 !important;

			&.selected a {
				background-color: var(--bg) !important;
				color: var(--text) !important;
				border-color: var(--accent-border) !important;
				border-bottom-color: var(--bg) !important;
			}

			a {
				background-color: transparent !important;
				color: var(--text-muted) !important;
				padding: calc(var(--pad) / 4) calc(var(--pad) / 2) 0 calc(var(--pad) / 2) !important;

				&:hover {
					background-color: var(--accent-border) !important;
					text-decoration: none;
				}
			}
		}
	}

	/* Content */
	body {
		background-color: var(--bg) !important;

		& > .content {
			margin: var(--body-pad) !important;
			display: flex;
			flex-direction: column;
		}
	}
	.crosspost-preview {
		background-color: var(--bg2) !important;
		border-color: var(--border) !important;
		border-radius: var(--border-radius) !important;
	}
	.md {
		.link .usertext-body & {
			background-color: var(--bg2) !important;
			padding: var(--pad) !important;
			border-color: var(--border) !important;
			border-radius: var(--border-radius) !important;
		}

		// to move
		.thing .expando & {
			background-color: var(--bg) !important;
			margin-bottom: 0 !important;
		}

		blockquote {
			&, p { color: var(--color2) !important; }
			padding: 0 !important;
			border: none !important;
			margin-left: 0 !important;

			p {
				display: table-footer-group;

				&::before {
					content: '>';
				}
			}
		}

		code, pre {
			background-color: var(--bg2) !important;
			border-color: var(--border) !important;
			border-radius: var(--border-radius) !important;
		}

		.linklisting &,
		.commentarea & {
			margin: var(--pad) 0 !important;
		}

		code {
			margin: 0 !important;
			padding: 0 var(--pad) !important;
		}

		&, * {
			color: var(--text) !important;
		}
		a {
			color: var(--text-link) !important;
		}
	}
	.flair,
	.linkflairlabel {
		background-color: var(--bg2) !important;
		border-color: var(--border) !important;
		border-radius: var(--border-radius) !important;
		color: var(--text) !important;
		margin-right: 1ch !important;
	}
	.title {
		color: var(--hl) !important;
	}
	.tagline .stickied-tagline,
	.search-result-meta .stickied-tagline {
		color: var(--color2) !important;
	}

	/* Posts */
	.link, .comment {
		background-color: var(--bg2);
		padding: var(--pad) !important;
		border: var(--border-width) solid var(--border);
		margin-bottom: var(--pad) !important;

		&.last-clicked {
			border: var(--border-width) solid var(--hl) !important;
			box-shadow: var(--shadow-ins) var(--hl);
		}

		.score {
			color: var(--text) !important;
		}
		.title {
			margin: 0 !important;
			a^[1..-1] { display: inline-block; }
		}
	}
	.rank {
		color: var(--text-muted) !important;
		margin-top: 0 !important;
		float: right !important;
	}
	.midcol {
		margin-left: 0 !important;
		margin-right: var(--pad) !important;
	}
	.thumbnail {
		margin-right: var(--pad) !important;
		margin-bottom: 0 !important;
	}
	.author {
		color: var(--text) !important;
		margin-right: 0 !important;
	}
	.entry {
		margin-left: 0 !important;

		.buttons {
			li {
				padding-right: calc(var(--pad) / 2) !important;
				margin-top: 2px;
				line-height: 1 !important;
			}

			a {
				color: var(--text-muted) !important;
				padding: 0 !important;
			}
		}
	}
	.expando {
		margin: 0 !important;

		&-button {
			margin: 0 !important;
			margin-top: 2px !important;
			margin-right: calc(var(--pad) / 2) !important;
		}
	}
	.tagline {
		color: var(--text-muted) !important;
	}
	.flat-list {
		padding: 0 !important;
	}

	/* Domains */
	domains = {
		"i.redd.it": Image,
		"i.imgur.com": Image,
		"v.redd.it": Video,
		"github.com": GitHub,
	}
	.domain {
		vertical-align: top;
		&, a { color: var(--text-muted) !important; }

		.thing[data-domain^="self"]:not([data-crosspost-root-subreddit]) & {
			display: none;
		}
		for k, v in domains {
			.thing[data-domain=\"{k}\"] & a {
				replace-text(s('"%s"', v), var(--text-muted));
			}
		}
		.thing[data-domain="reddit.com"] & a,
		.thing[data-url^="https://www.reddit.com/gallery"] & a {
			replace-text('Album', var(--text-muted));
		}
	}

	/* Comments */
	.panestack-title,
	.commentarea .menuarea,
	.comment {
		margin: 0;
		padding: 0;
	}
	.panestack-title {
		//border-bottom: var(--border-width) solid var(--border);
		border-bottom: none;
	}
	.commentarea .menuarea {
		color: var(--text-muted);
	}
	.comment {
		.expand {
			color: var(--hl);
			padding: 0;
			margin-right: 1ch;
		}
		.child, .showreplies {
			border-left: none;
			margin-left: 0;
			margin-top: var(--pad);

			&:empty {
				display: none;
			}
		}
		&.deleted em {
			color: var(--hl-error);
		}
	}
	.usertext.grayed .usertext-body {
		background-color: transparent;
		color: var(--text);
	}

	/* Dropdown */
	.dropdown {
		cursor: pointer;
	}
	.drop-choices {
		background-color: var(--bg);
		border: var(--border-width) solid var(--border);
		box-shadow: var(--shadow-big);

		a {
			color: var(--text);
			padding: calc(var(--pad) / 2) !important;

			&:hover {
				background-color: var(--hl) !important;
				color: var(--hl-text);
				text-decoration: none;
			}
		}
	}

	/* New reddit stolen icons */
	/*@font-face {
		font-family: "redesignFont";
		src: url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.e68baae7e616cf832cacf2df091e58f3.eot),
				 url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.e68baae7e616cf832cacf2df091e58f3.woff),
				 url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.e68baae7e616cf832cacf2df091e58f3.ttf),
				 url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.e68baae7e616cf832cacf2df091e58f3.svg);
	}
	.buttons {
		li a {
			margin-left: 2px;

			&:not(.comments) {
				text-transform: capitalize;
			}

			&::before {
				font-family: "redesignFont";
				display: block;
				float: left;
			}

			&:hover::before {
				text-decoration: underline;
			}
		}

		.first a::before {content: "\f10c"}
		.share a::before {content: "\f136"}
		.save-button a::before {content: "\f135"}
		.hide-button a::before {content: "\f120"}
		.reply-button a::before {content: "\f10c"}
		.report-button a::before {content: "\f134"}
		.embed-comment a::before {content: "\f112"}
		.first .bylink:not(.comments)::before {content: "\f123"}
	}

	/* Sidebar */
	.side {
		background-color: var(--bg2) !important;
		color: var(--text);
		padding: var(--pad);
		margin: 0 !important;
		margin-left: var(--body-pad) !important;
		border-left: 1px solid var(--border);
		border-bottom: 1px solid var(--border);
		width: var(--sidebar-width) !important;

		.spacer:first-child {
			margin-top: 0 !important;
		}

		.comments-page & {
			margin-top: calc(var(--body-pad) * -1) !important;
		}

		// Subreddit name and subscribers in the same line
		.redditname {
			display: initial;
		}
		.subscribers::before {
			content: ' •\00a0'
		}
	}
	input[type="checkbox"] { // PASTED LOL
		appearance: none;
		border: 1px solid var(--border);
		border-radius: var(--border-radius);
		position: relative;
		box(16px);
		// reddit xD
		margin: 0 !important;
		margin-right: 4px !important;
		margin-bottom: 4px !important;
		vertical-align: middle;

		&::before, &::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: var(--hl);
			transform-origin: 0 0;
		}

		&::before {
			transform: rotate(-45deg) translateY(45%) translateX(-30%) scaleX(0.25) scaleY(0);
		}
		&::after {
			transform: rotate(225deg) translateY(-30%) translateX(-95%) scaleX(0.25) scaleY(0);
		}
		&:indeterminate::before {
			transform: rotate(0) translateY(37.5%) translateX(10%) scaleX(0.8) scaleY(0.25);
			transition-duration: 33.33333333ms;
		}

		&:checked {
			&::before {
				transform: rotate(-45deg) translateY(45%) translateX(-30%) scaleX(0.25) scaleY(0.4);
				transition-duration: 33.33333333ms;
			}
			&::after {
				transform: rotate(225deg) translateY(-30%) translateX(-95%) scaleX(0.25) scaleY(1.2);
				transition-delay: 33.33333333ms;

				@media (prefers-reduced-motion: no-preference) {
					transition-duration: var(--trans-dur);
				}
			}
		}

		&:focus {
			border-color: var(--hl);
			box-shadow: var(--shadow-ins) var(--hl);
			outline: none;
		}
	}
	#search input[type="text"] {
		background-color: var(--bg) !important;
		color: var(--text) !important;
		border-color: var(--border) !important;
		border-radius: var(--border-radius) !important;
		width: 100% !important;
		anim();

		&::placeholder {
			color: var(--text-muted);
			text-transform: capitalize;
		}

		&:focus {
			border-color: var(--hl) !important;
			outline: none;
		}
	}
	.infobar {
		background-color: var(--bg2) !important;
		color: var(--text) !important;
		border-color: var(--border) !important;
		border-radius: var(--border-radius) !important;
	}
	.titlebox {
		:not(a) {
			color: var(--text) !important;
		}
		a {
			color: var(--text-link) !important;
		}

		.bottom {
			border-top-color: var(--border) !important;
		}
	}

	/* Remove side panel for small windows */
	@media (max-width: 768px) {
		.side {
			display: none;
		}
	}
	
	/* Unsorted */
	.nav-buttons {
		padding-bottom: var(--pad) !important;

		&::first-letter {
			text-transform: capitalize;
		}
	}
	.nextprev, .nextsuggestions {
		color: var(--text) !important;

		a {
			padding: 0 var(--pad) !important;
			background-color: var(--bg2) !important;
			border-color: var(--border) !important;
			border-radius: var(--border-radius) !important;
			anim();

			&:hover {
				border-color: var(--hl) !important;
				text-decoration: none;
			}
		}
	}
	a {
		color: var(--text-link);

		&:hover {
			text-decoration: underline;
		}
	}
}
