/* ==UserStyle==
@name           Stylus documentation
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me

@preprocessor stylus
==/UserStyle== */

@-moz-document domain("stylus-lang.com") {
	/* Hide elements */
	header, // Logo
	main > a, // GitHub
	aside > :not(nav), // Credits / footer
	aside::-webkit-scrollbar {
		display: none !important;
	}
	main {
		padding-top: 0 !important; // fix
	}

	/* Main rules */
	html {
		background-color: var(--bg) !important;
		color: var(--text) !important;
		line-height: unset !important;
	}

	h1, h2, h3, h4, h5, h6 {
		color: var(--hl) !important;
	}

	pre, code {
		background-color: var(--bg2) !important;
		border-color: var(--border) !important;
	}

	pre code {
		border: none !important;
	}

	aside {
		background-color: var(--accent) !important;
		border-bottom: none !important;
		flex: none !important;

		nav {
			text-transform: unset !important;
			letter-spacing: 0 !important;

			& > a, & > strong {
				color: var(--text) !important;
				border-color: var(--accent-border) !important;
			}

			& > a:hover {
				background-color: var(--hl) !important;
				color: var(--hl-text) !important;
			}

			& > strong {
				background-color: var(--accent-border) !important;
			}
		}
	}
}
