/* ==UserStyle==
@name           stackexchange.com - 10/31/2021, 3:59:50 PM
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me

@preprocessor stylus
==/UserStyle== */

@-moz-document domain("stackexchange.com"), domain("stackoverflow.com") {
	[id^="comments-link-"],
	.answercell > .mt24 > div > .mr16,
	.postcell > .s-prose + .mt24.mb12,
	[aria-label="Accepted"],
	a[href="/questions/ask"],
	a[href$="/timeline"],
	.js-bookmark-btn,
	.s-sidebarwidget,
	.s-notice__info,
	.js-post-menu,
	.bottom-notice,
	.top-bar ol,
	#post-form,
	#footer,
	.-ctas // Log in
	{
		display: none !important;
	}

	body {
		--theme-background-color: var(--bg) !important;
		--theme-content-background-color: var(--bg)  !important;
		--theme-content-border-color: transparent  !important;
		--theme-body-font-color: var(--fg)  !important;
		--theme-link-color: var(--fg-link) !important;
		--bc-medium: var(--border) !important;

		// Shadows
		--bs-sm: var(--shadow-mid) !important;
		--bs-md: var(--shadow-big) !important;

		// Syntax highlighting
		--highlight-bg: var(--bg2) !important;
		--highlight-color: var(--fg) !important;
		--highlight-punctuation: var(--fg2) !important;
		--highlight-comment: var(--fg2) !important;
		--highlight-namespace: hsl(27,99%,36%);
		--highlight-attribute: hsl(206,98.5%,29%);
		--highlight-literal: hsl(27,99%,36%);
		--highlight-symbol: hsl(306,43%,35%);
		--highlight-keyword: hsl(206,98.5%,29%);
		--highlight-variable: hsl(80,80.5%,26.5%);
		--highlight-addition: var(--color10) !important;
		--highlight-deletion: var(--hl-error) !important;

		background-image: none;
	}

	.top-bar {
		background-color: var(--accent);
		box-shadow: 0 1px var(--accent-border), var(--shadow-mid);
	}
	.s {
		&-input {
			background-color: var(--bg) !important;
			color: var(--fg) !important;
			border-color: var(--border) !important;
			border-radius: var(--border-radius);

			&:focus {
				box-shadow: var(--shadow-ins) var(--hl) !important;
			}
		}

		&-popover {
			border-radius: var(--border-radius);
		}
	}
	path[fill="#FEFEFE"] {
		fill: var(--fg);
	}
	#content {
		width: 100%;
		padding: calc(var(--pad) * 2);
	}

	.fs-headline1 {
		font-size: var(--font-size) !important;
	}
	h1, h2, h3, h4, h5, h6, .question-hyperlink {
		color: var(--fg2) !important;
	}
	.bc-black-2, .bc-black-075 {
		border-color: var(--border) !important;
	}
	ul.comments-list .comment > *,
	.answer {
		border-bottom: var(--border-width) solid var(--border) !important;
	}
	.comment-date, .comment-date>a, .comment-date>a:hover {
		color: var(--fg2) !important;
	}
	.relativetime-clean {
		&::before { content: '('; }
		&::after { content: ')'; }
	}

	.s-prose {
		pre:not(.s-code-block) {
			padding: var(--pad) !important;
			border: var(--border-width) solid var(--border);
			border-radius: var(--border-radius) !important;
		}
		:not(.s-code-block) > code {
			color: var(--fg) !important;
		}
	}
	code {
		background-color: var(--bg2) !important;

		pre & {
			white-space: pre-line;
		}
	}
}
