/* ==UserStyle==
@name           GitHub
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me

@preprocessor stylus

@var text border-radius "Border radius" 3px
@var text tab-size "Tab size" 4
@var checkbox compact-view "Compact view" 1
@var checkbox full-width "Full width" 0
@var text fw-padding "Full width padding" 16px
@var checkbox normal-header-width "Normal header width when logged out" 1
@var checkbox remove-icons "Partly remove icons" 1
@var checkbox tabs "Same tabs as in navigation" 1
@var checkbox review-comments "Review comments (to see)" 1
@var checkbox blue-headers "Blue headers" 1
@var checkbox notifications "Notifications (to see)" 1
@var checkbox explore "Explore" 1
@var checkbox user-status "User status" 1
@var checkbox line-count "Line count" 1
@var checkbox file-info-divider "File info divider" 1
@var checkbox unsorted "Unsorted rules" 1
==/UserStyle== */

@-moz-document domain("github.com") {
	/* Variables */
	:root {
		// Settings
		--border-radius: border-radius;
		--tab-size: tab-size;
		--fw-padding: fw-padding;

		// Background and text
		--color-bg-canvas: var(--bg) !important;
		--color-bg-primary: var(--bg) !important;
		--color-bg-secondary: var(--bg2) !important;
		--color-bg-tertiary: var(--bg3) !important;
		--color-text-primary: var(--text) !important;
		--color-text-disabled: var(--text-muted) !important;
		--color-text-link: var(--text-link) !important;

		// Header
		--color-header-bg: var(--accent) !important;
		--color-header-text: var(--text) !important;
		--color-header-logo: var(--color-header-text) !important;
		--color-header-search-bg: var(--color-bg-canvas) !important;
		--color-header-search-border: var(--border) !important;

		// Button
		--color-btn-bg: var(--bg2) !important;
		--color-btn-hover-bg: var(--bg3) !important;
		--color-btn-active-bg: var(--bg4) !important;
		--color-btn-selected-bg: var(--bg4) !important;
		--color-btn-focus-bg: var(--bg2) !important;
		--color-btn-border: var(--border) !important;
		--color-btn-hover-border: var(--border) !important;
		--color-btn-active-border: var(--border) !important;
		--color-btn-focus-border: var(--border) !important;

		// Input
		--color-input-bg: var(--bg2) !important;
		--color-input-border: var(--border) !important;

		// Borders
		--color-border-primary: var(--border) !important;

		// Dark theme fixes
		@media (prefers-color-scheme: dark) {
			--color-border-secondary: #1c294d !important;
			--color-box-header-blue-bg: #00070e !important;
			--color-box-header-blue-border: #001e37 !important;
			--color-shadow-medium: 0 3px 6px #01040932 !important;
			--color-shadow-large: 0 8px 24px #01040932 !important;
			--color-shadow-extra-large: 0 12px 48px #01040932 !important;
		}

		// idk etc unsorted blah
		--color-intro-shelf-gradient-in: var(--bg2) !important;
		--color-social-count-bg: var(--bg2) !important;
		--color-page-header-bg: var(--bg2) !important;

		--color-box-header-blue-bg: #f1f8ff !important;
		--color-box-header-blue-border: #c8e1ff !important;
	}

	// Fixes, etc.
	.header-search-input {
		padding: 6px 12px !important;
	}
	@media (prefers-color-scheme: light) {
		.header-search-input::placeholder { filter: invert(); }
	}
	.Box-row--focus-gray.navigation-focus {
		background-color: var(--color-bg-secondary) !important;
	}
	main > .hx_page-header-bg {
		.btn, .social-count {
			&:not(:hover) {
				background-color: var(--bg) !important;
			}
		}
		.social-count {
			color: unset !important;
			transition: .2s cubic-bezier(.3,0,.5,1);
			transition-property: color, background-color, border-color;
		}
	}
	.progress-pjax-loader > .progress-pjax-loader-bar {
		background-color: var(--hl) !important;
	}
	header[role] {
		box-shadow: var(--color-shadow-medium), 0 1px var(--accent-border);

		* {
			color: var(--text) !important;
		}

		.icon-chevon-down-mktg {
			stroke: var(--text) !important;
		}
	}

	/* More compact view */
	if compact-view {
		body {
			line-height: unset !important;
		}
		header[role] {
			padding: 0 !important;
		}
		.hx_page-header-bg .flex-auto.min-width-0.width-fit.mr-3 {
			margin-top: 4px;
		}
	}
	/* header */
/*.HeaderMenu summary, .HeaderMenu a {
	padding: 12px 0 !important;
}

.header-search-input {
	padding: 4px 8px !important;
}

.hx_page-header-bg {
	padding-top: 8px !important;
	margin-bottom: 12px !important;
}
.hx_page-header-bg > div:first-child {
	margin-bottom: 8px !important;
}

.UnderlineNav-item {
	padding: 0 12px !important;
}

/* top */
/*.file-navigation {
	margin-bottom: 12px !important;
}

.hx_commit-tease .avatar {
	background-color: transparent !important;
	top: 4px;
	left: 6px;
}
.hx_commit-tease .avatar img {
	width: 16px;
	height: 16px;
}

/* bottom */
/*#readme > .js-sticky, .Box-header {
	padding: 6px !important;
}

#readme > .js-sticky summary {
	padding: 4px !important;
}

.Box-body[data-target="readme-toc.content"] {
	padding: 12px 16px !important
}

/* right */
/*.BorderGrid--spacious {
	margin-top: -12px !important;
}
.BorderGrid--spacious .BorderGrid-cell {
	padding: 12px 0 !important
}

/* etc */
/*.btn, .social-count {
	padding: 4px 8px !important;
}

.p-3 {
	padding: 8px !important;
}

.Box-row {
	padding: 6px 8px;
}

	/* Use entire screen */
	if full-width {
		.container-sm, .container-md, .container-lg, .container-xl {
			max-width: unset !important;
		}
		main {
			& > .hx_page-header-bg > *,
			& > div[class^="container"] {
				padding: 0 var(--fw-padding) !important;
			}
		}
		body > .js-header-wrapper > header > div {
			padding: 0 var(--fw-padding) !important;
		}
	}

	/* Normal width for header */
	if !full-width && normal-header-width {
		// Normal
		main > .hx_page-header-bg {
			border-bottom: 1px solid var(--color-border-secondary);

			& > * {
				max-width: 1280px;
				margin: 0 auto;
			}

			& > nav {
				box-shadow: none !important;
			}

			.UnderlineNav-body {
				z-index: 0;
			}
		}
		header > div:only-child {
			padding: 0 32px !important;
		}

		// Gist
		.gisthead > div {
			max-width: 1012px !important;
			margin: 0 auto;

			& > div {
				padding: 0 16px !important;
			}
		}
	}

	/* Remove icons where unnecessary
	 *
	 * Order: header and tabs, issues/PRs, profile and organisation, other */
	if remove-icons {
		/* I */ .hx_page-header-bg, .UnderlineNav, .page-profile main > .position-sticky, .tabnav-tabs,
		/* II */ .states a, .subnav-links a, .issues-reset-query-wrapper, .file-header,
		/* III */ .user-profile-bio + div a, .activity-overview-box .d-flex, .contribution-activity-listing span, /**/ .pinned-item-list-item-content .Link--muted, .pinned-item-list-item-content,
		/* IV */ .auto-search-group, .btn-link, .btn:not([aria-haspopup]):not([role]), .toc-diff-stats, .file-navigation, .file-navigation + div .Box-header, .State, .BorderGrid .BorderGrid-cell {
			svg:not(.octicon-chevron-down):not(.js-activity-overview-graph) {
				display: none !important;
			}
		}
		.contribution-activity-listing .octicon-repo.color-text-tertiary,
		.jump-to-octicon {
			display: none;
		}
		.file-navigation + div,
		.pinned-item-desc {
			g-emoji {
				display: none;
			}
		}

		// Fixes
		.file-actions form[action] svg {
			display: inline-block !important;
		}
		.user-profile-bio + div a:last-child::after {
			content: ' stars'; // TODO: displays 1 stars
		}
		.contribution-activity-listing .octicon-repo-forked + a::after {
			content: ' (fork)';
			color: var(--color-text-secondary);
		}
		.pinned-item-list-item-content {
			.repo-language-color {
				display: none;
			}
			span[itemprop="programmingLanguage"]::before {
				content: 'Language: ';
			}
		}
		.js-pinned-items-reorder-container span + .Link--muted::after,
		.js-pinned-items-reorder-container .Link--muted:first-child::after {
			content: ' stars';
		}
		.js-pinned-items-reorder-container span ~ .Link--muted:nth-child(3)::after,
		.js-pinned-items-reorder-container .Link--muted:first-child + .Link--muted::after {
			content: ' forks';
		}
		.auto-search-input {
			padding-left: 12px !important;
		}
		.toc-diff-stats {
			padding-left: 0 !important;
		}
		.BorderGrid h2.h4.mb-3 + a > div {
			margin-left: 0 !important;
		}
	}

	/* Remove elements */
	// I. Unsorted
	#org-repositories > div[data-url$="tab_counts"] > div:nth-child(2):not(:last-child), // Most used topics
	.new-discussion-timeline .flex-items-start > .col-md-3 > div[class], // Discussions - most helpful users
	nav[aria-label="Explore navigation"] .text-right, // E-mail updates
	aside[aria-label="Explore"] .js-notice, // Top notice (advertisement?)
	aside[aria-label="Star Topics"], // Advertisements
	a[href="/sponsors/community"], // GitHub sponsors
	//#issuecomment-new .text-small, // Protip?
	.protip, // ^
	.js-profile-editable-replace > details, // Report button
	#js-contribution-activity form > p, // "Seeing something unexpected?" (move to II?)
	a[href$="tab=packages"], // Packages tab (move to II?)
	.locked-conversation, // Issue comment in a locked conversation
	.topic-tag, // Topic tags
	get-repo // Repository clone button
	{
		display: none !important;
	}

	// II. Not signed in
	.logged-out {
		details-dialog[aria-label="Sign up for GitHub"],
		.btn[data-ga-click*="create new issue"],
		.discussion-timeline-actions,
		.user-profile-sticky-bar + div > .clearfix + div .flex-1 // Follow
		{
			display: none !important;
		}
	}
	a[aria-label="You must be signed in to change notification settings"],
	signup-prompt {
		display: none !important;
	}

	// III. Fixes
	.TimelineItem-badge,
	.discussion-item-icon {
		border: 2px solid var(--color-scale-gray-2) !important;
	}
	.discussion-timeline-actions,
	.timeline-comment-wrapper {
		border: none !important;
	}

	/* Tabs */
	if tabs {
		nav.tabnav-tabs:not([aria-label="Repository menu"]) .tabnav-tab {
			border: none !important;
			border-bottom: 2px solid var(--color-underlinenav-border) !important;
			transition: border-bottom-color .36s ease-in !important;

			&.selected {
				background-color: unset !important;
				border-bottom: 2px solid var(--color-underlinenav-border-active) !important;
				font-weight: 600;
			}

			&:focus, &:hover {
				color: unset !important;
				border-bottom-color: var(--color-underlinenav-border-hover) !important;
				transition-timing-function: ease-out;
				transition-duration: .12s;
			}
		}
		.tabnav-tab.selected,
		.tabnav-tab[aria-current]:not([aria-current="false"]),
		.tabnav-tab[aria-selected="true"] {
			background-color: var(--color-bg-secondary) !important;
		}
	}

	/* Review comments */
	if review-comments {
		.review-comment[data-gid] {
			padding: 12px 0 !important;
			margin: 0 12px;

			&:first-child {
				border-top: none !important;
			}

			&:not(:last-child) {
				border-bottom: 1px solid var(--color-border-primary);
			}
		}
		.review-thread-reply {
			border-bottom: none !important;
		}
	}

	/* Blue headers */
	if blue-headers {
		.menu-heading,
		.Box-header:not(.js-collab-repo-owner), .file-header,
		#readme > .js-sticky,
		.js-suggested-changes-blob > div:first-child,
		#user-projects-list .color-bg-tertiary {
			border: 1px solid var(--color-box-header-blue-border) !important;
			background-color: var(--color-box-header-blue-bg) !important;
			margin: -1px -1px 0 !important;
		}
		.file-header + .border-top {
			border-top: none !important;
		}
	}

	/* Notifications */
	if notifications {
		div[data-url^="/notifications"] {
			padding-left: 0 !important;
			padding-bottom: 0 !important;

			.js-check-all-container {
				.d-flex.flex-items-center.mt-0.mb-md-3.mb-0.px-2.px-sm-0 {
					margin-right: -8px;
				}

				.d-none.d-md-block.col-12.col-sm-6 {
					width: 100% !important;
				}
			}
		}
		.notification-navigation {
			border-right: 1px solid var(--color-border-primary);
			padding: 0 8px;
		}
	}

	/* Explore */
	if explore {
		aside[aria-label="Explore"] {
			padding: 32px !important;
			margin: 0 !important;
			background-color: var(--color-bg-primary);
			border-left: 1px solid var(--color-border-secondary);
		}
		nav[aria-label="Explore navigation"] .col-lg-3.mr-2 {
			width: 18% !important;
		}
	}

	/* Repository buttons */
	if repo-buttons {
		if !remove-icons {
			.btn[data-hydro-click*="FIND_FILE_BUTTON"]::before,
			#blob-path + a::before {
				content: '';
				-webkit-mask-image: url("data:image/svg+xml; utf-8, <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' height='16' width='16'><path fill-rule='evenodd' d='M3.75 1.5a.25.25 0 00-.25.25v11.5c0 .138.112.25.25.25h8.5a.25.25 0 00.25-.25V6H9.75A1.75 1.75 0 018 4.25V1.5H3.75zm5.75.56v2.19c0 .138.112.25.25.25h2.19L9.5 2.06zM2 1.75C2 .784 2.784 0 3.75 0h5.086c.464 0 .909.184 1.237.513l3.414 3.414c.329.328.513.773.513 1.237v8.086A1.75 1.75 0 0112.25 15h-8.5A1.75 1.75 0 012 13.25V1.75z'></path></svg>");
				display: inline-block;
				width: 16px;
				height: 16px;
				margin-right: 4px;
				vertical-align: text-bottom;
				background-color: currentColor;
				color: var(--color-text-tertiary);
			}
		}
		.file-navigation {
			.flex-self-center > a {
				color: var(--color-btn-text) !important;
				background-color: var(--color-btn-bg);
				box-shadow: var(--color-btn-shadow), var(--color-btn-inset-shadow);
				transition: .2s cubic-bezier(.3,0,.5,1);
				transition-property: color, background-color, border-color;
				padding: 5px 16px;
				line-height: 20px;
				border: 1px solid var(--color-btn-border);
				border-radius: var(--border-radius);

				&:hover, &:focus {
					background-color: var(--color-btn-hover-bg);

					span {
						color: var(--color-text-tertiary) !important;
					}
				}

				svg {
					margin-right: 4px;
				}
			}

			& > a {
				margin-left: 16px !important;
			}

			.flex-auto {
				flex: unset !important;
			}
		}
	}

	/* User status */
	if user-status {
		.user-status-circle-badge {
			background-color: var(--color-scale-yellow-1);
			border-color: var(--color-scale-yellow-3);
			width: 100% !important;

			&, &-container:hover & {
				box-shadow: none !important;
			}

			.user-status-message-wrapper {
				width: 100% !important;
				opacity: 1 !important;

				&.no-wrap {
					white-space: normal !important;
				}

				.css-truncate.css-truncate-target {
					white-space: auto;
				}
			}

			&-container {
				position: unset !important;
				width: auto !important;
				height: auto !important;
				margin: 16px 0 0 !important;

				& > div {
					width: 100%;
				}
			}

			.user-status-emoji-container {
				margin-right: 8px !important;
			}
		}
	}

	/* Line count */
	if line-count {
		:root {
			--color-diff-blob-num-text-bg: var(--color-bg-secondary);
			--color-diff-blob-num-text-border: var(--color-border-primary);
			--color-diff-blob-num-hover-text: var(--color-text-primary) !important;
		}
		.blob-num {
			background-color: var(--color-diff-blob-num-text-bg);
			border-right: 1px solid var(--color-diff-blob-num-text-border);
		}
	}

	/* File info divider */
	if file-info-divider {
		.file-info-divider {
			background-color: var(--color-border-tertiary) !important;
			height: 22px !important;
			margin: 0 5px !important;
		}
	}

	/* Tab size */
	.tab-size {
		-moz-tab-size: var(--tab-size) !important;
		tab-size: var(--tab-size) !important;
	}

	/* etc (inconsistencies?) */
	if unsorted {
		#readme > .is-stuck {
			border-radius: 0 !important;
		}
		.vcard-detail .octicon {
			margin-top: 0 !important;
		}

		// Profile navigation
		.page-profile main > .position-sticky {
			margin-top: 0 !important;
			background-color: var(--color-bg-secondary) !important;
		}
		.user-profile-nav + div > div > .border-bottom.py-3 {
			padding-top: 24px !important;
		}

		// Sticky header fix
		.page-profile main > .position-sticky {
			z-index: 5 !important;
		}
		img[alt="Avatar"] {
			margin-top: 56px;
		}
	}

	/* 6px -> 3px rounded corners */
	/* frameworks-next-699624e4062c462162146d384a2e859d.css */
	kbd,
	.Box,
	.btn:not(.btn-with-count), /* .btn-large, .btn-with-count, */
	.form-control,
	.form-select,
	.form-checkbox label em.highlight,
	.form-warning,
	.form-group.errored .error,
	.form-group.errored .success,
	.form-group.errored .warning,
	.form-group.successed .error,
	.form-group.successed .success,
	.form-group.successed .warning,
	.form-group.warn .error,
	.form-group.warn .success,
	.form-group.warn .warning,
	.upload-enabled.focused,
	.menu,
	.filter-item,
	.pagination a,
	.pagination em,
	.pagination span,
	/*.tooltipped:after,*/
	.rounded,
	.rounded-1,
	.rounded-2,
	.rounded-sm,
	.rounded-sm-2,
	.ajax-pagination-form .ajax-pagination-btn,
	.auth-form-message,
	.two-factor-help,
	.session-authentication .flash,
	.session-authentication .auth-form-body,
	.session-authentication .create-account-callout,
	/* github-55fa860ce9921cde759bf03b4a6bf279.css */
	.flash,
	.autocomplete-results,
	.suggester,
	.avatar,
	.CircleBadge,
	.blankslate code,
	.branch-name,
	.dropdown-menu,
	.IssueLabel, /* 2em */
	.label, .Label, /* 2em */
	.state, .State, /* 2em */
	.markdown-body kbd,
	.markdown-body code,
	.markdown-body tt,
	.markdown-body .highlight pre,
	.markdown-body pre,
	.Progress,
	.SelectMenu-modal, /* 12px */
	.Toast,
	.boxed-group,
	.list-group-item .assignee img,
	.progress-bar,
	.select-menu-loading-overlay, /* 5px */
	.select-menu-modal,
	.select-menu-text-filter input,
	.select-menu-button-gravatar img,
	.select-menu-item-gravatar img,
	.select-menu-item-gravatar,
	.capped-card,
	.comment-form-error,
	.commit-form,
	.commit-form-avatar,
	.commit-ref,
	.full-commit,
	.signed-commit-badge,
	.signed-commit-badge-large,
	.signed-commit-badge-medium,
	.signed-commit-badge-small,
	.copyable-terminal,
	.add-line-comment,
	.inline-comment-form,
	.sidebar-progress-bar .progress-bar,
	.timeline-comment-avatar,
	.timeline-comment,
	.review-comment:target,
	.timeline-comment-header:only-child,
	.timeline-comment-label,
	.discussion-item-icon, /* 50% */
	.kb-konami-dialog .Box-btn-octicon,
	.steps,
	.protip code,
	.marketing-hero-octicon, /* 50px */
	.intgr-admin-link,
	.not-found-octocat-wrapper, /* 45px */
	.credit-card, /* 10px */
	.usage-bar, /* 20px */
	.usage-bar .progress, /* ^ */
	.CodeMirror-hints,
	.status-meta-file-name,
	.branch-action-icon,
	.branch-action-body,
	.completeness-indicator-success, /* 50% */
	.completeness-indicator-error, /* ^ */
	.completeness-indicator-problem, /* ^ */
	.RecentBranches,
	.range-editor,
	ul.comparison-list,
	.checks-summary-conclusion, /* 50% */
	.code-list .file-box,
	.CommunityTemplate-highlight,
	.compare-cutoff,
	.dif-cutoff,
	.compare-pr-placeholder,
	.tint-box,
	.coupons .coupon-form-body,
	.coupon-icon, /* 40px */
	.dashboard-notice,
	.discussion-comment .reaction-summary-item:not(.add-reaction-btn),
	.file,
	.graph-canvas .activity,
	.svg-tip,
	.topic-tag,
	.topic-tag-action,
	.discussion-post .reaction-summary-item:not(.add-reaction-btn),
	.hook-delivery-guid,
	.hook-delivery-container pre,
	.hook-delivery-response-status,
	.integrations-select-repos,
	/*.integrations-select-repos::-webkit-scrollbar-thumb,*/
	.issues-reset-query-icon,
	.label-select-menu .color,
	.reaction-sort-item,
	.repository-lang-stats ol.repository-lang-stats-numbers li .language-color, /* 50% */
	.ScreenshotCarousel,
	.MarketplaceEdit-body .CircleIcon, /* 50% */
	.BarChart,
	.CircleBadge--github:after, /* 100px */
	.network .gravatar,
	.news .alert .gravatar,
	.news .commits li img,
	.thread-subscription-status,
	.oauth-permissions-details.oauth-public-data-only,
	.oauth-permissions-details .permission-summary em.highlight,
	.oauth-org-access-details .boxed-group-inner,
	.org-insights-graph-canvas .activity,
	.org-insights-svg-tip.comparison li .legend, /* 50% */
	.saml-settings-form .test-status-indicator, /* ^ */
	.confirm-removal-list-container,
	.manage-repo-access-group,
	.manage-repo-access-teams-group,
	.project-column, /* @media (min-width: 554px) */
	.card-filter-autocomplete-dropdown .navigation-focus,
	.card-filter-autocomplete-dropdown [aria-selected=true],
	.new-user-avatar-cta,
	.blocked-user-notice,
	.profile-rollup-wrapper .progress-bar,
	.stale-files-tab,
	.pr-toolbar .subset-files-tab,
	.review-comment .reaction-summary-item:not(.aGdd-reaction-btn),
	.review-comment .is-comment-editing,
	.review-summary-form-wrapper,
	.diffstat-summary,
	.release-timeline-tags .tag-timeline-date:after,
	.upload-progress, /* 30px */
	.upload-progress .upload-meter,
	.repo-file-upload-target.dragover .repo-file-upload-outline, /* 5px */
	.repo-file-upload-tree-target .repo-file-upload-outline, /* ^ */
	.overall-summary,
	.prereceive-feedback,
	.profile-picture > img,
	.user-key-badge,
	.user-key-email,
	.logo-box,
	.logo-box img,
	.saved-reply-form,
	.two-factor-steps,
	.two-factor-toggle .two-factor-on,
	.github-access-banner,
	.qr-code-table,
	.session-device .session-state-indicator, /* 5px */
	.listgroup,
	.user-already-added:after,
	.protected-branch-admin-permission,
	.setup-info-module,
	.shelf-dismiss .close-button, /* 28px */
	.orgs-help-item-octicon, /* 50px */
	.business-sso .business-sso-panel, /* 5px */
	.business-sso .org-sso-panel, /* ^ */
	.org-sso .business-sso-panel, /* ^ */
	.org-sso .org-sso-panel, /* ^ */
	.business-sso .sso-recovery-callout, /* ^ */
	.org-sso .sso-recovery-callout, /* ^ */
	.team-label-ldap,
	#user-content-toc td,
	.user-status-circle-badge,
	.ColorSwatch, /* second 2em */
	.label-select-menu .color,
	.Box--responsive .Box-row--unread:before, /* 50% */
	.Box--responsive, /* @media (min-width: 544px) */
	.IssueLabel--big.lh-condensed, /* 2em */
	.avatar-user, /* 50% */
	image-crop .handle:before, /* ^ */
	image-crop.image-crop-user .crop-box, /* ^ */
	/* site-dfba4b408f2494358f8d655558507d21.css */
	.btn-mktg,
	.btn-mktg-fluid,
	.btn-mktg-fluid:before,
	.rounded-2-fluid,
	.form-control-mktg,
	.testimonial,
	.page-nav-item,
	.Tile,
	.codespaces-illo-source-control, /* 11px */
	.codespacer-footer-container, /* 24px */
	.illflow-item, /* @media (min-width: 768px */
	.home-hero-signup .form-control-lg,
	.actions-event-token,
	.insights-dash-dot-ripple > span, /* 50% */
	.insights-dash-dot-ripple > div, /* ^ */
	.packages-badge, /* 12px */
	.MarketingBody img,
	.section-mobile-notification:after,
	.phone-buttons,
	.phone-buttons:after,
	.phone-buttons:before,
	.phone-background, /* 50px */
	.phone-background:before, /* 45px */
	.team-octicon:after, /* 50% */
	/* not present */
	.review-comment .reaction-summary-item,
	.issues-reset-query-icon,
	tracked-issues-progress > div
	{
		border-radius: var(--border-radius) !important;
	}

	.js-suggested-changes-blob > div:first-child,
	.tabnav-tab.selected,
	.tabnav-tab[aria-current]:not([aria-current="false"]),
	.tabnav-tab[aria-selected="true"],
	.auth-form-header, /* a */
	.Box-header,
	.file-header,
	.suggester li:first-child,
	.SelectMenu-tab,
	.boxed-group .heading,
	.boxed-group > h3,
	.boxed-group .tabnav.heading li:first-child .selected,
	.list-group-item:first-child,
	.select-menu-tabs .select-menu-tab-nav,
	.select-menu-tabs a,
	.table-list-header,
	.Box--overlay .Box-header,
	.signed-commit-header,
	.timeline-comment-header,
	.previewable-comment-form .comment-form-head.tabnav,
	.pagehead-tabs-item,
	.reponav-item,
	.CodeMirror-hint .CodeMirror-hint:first-child,
	ul.comparison-list > li.title,
	.graph-before-activity-overview,
	.discussions-top-wrapper-bar,
	.file-header,
	.oauth-permissions-details:first-child,
	.oauth-org-access-details .oauth-org-item:first-child,
	.add-member-team-list .team-row-header,
	.manage-repo-access-title,
	.manage-memberships-tabs-item,
	.pull-request-review-menu .select-menu-header,
	.pull-request-suggested-changes-menu .select-menu-header,
	.uploaded-files,
	.uploaded-files.not-populated + .drop-target .drop-target-label,
	.uploaded-files > li.delete:nth-child(2),
	.saved-reply-form .tabnav-tab.selected,
	.avatar-before-user-status, /* @media (min-width: 768px) */
	.Box--responsive .Box--header, /* @media (min-width: 544px) */
	.pagination-loader-container button.bg-white.border-0
	/* site-dfba4b408f2494358f8d655558507d21.css */
	{
		border-radius: var(--border-radius) var(--border-radius) 0 0 !important;
	}
	.Box--responsive .Box-body,
	.Box-row:last-of-type,
	.auth-form-body,
	.suggester li:last-child,
	.blankslate-capped,
	.boxed-group-inner,
	.boxed-group-standalone > li:last-child,
	.list-group-item:last-child,
	.select-menu-item.last-visible,
	.select-menu-list:last-child .select-menu-item:last-child,
	.full-commit .commit-meta,
	.commit-build-statuses .merge-status-item:last-child,
	.inline-review-comment tr:last-child,
	.CodeMirror-hint .CodeMirror-hint:last-child,
	.branch-action-body .merge-branch-form,
	.branch-action-body .merge-message,
	.file-blankslate,
	.repository-lang-stats-graph,
	.oauth-permissions-details:last-child,
	.manage-repo-access-list-item:last-child,
	.pull-request-review-menu .form-actions,
	.pull-request-suggested-changes-menu .form-actions,
	.review-thread-reply,
	.access-form-wrapper,
	.follow-list .flagged-banner,
	.hx_sm-hide-drag-drop textarea /* @media (max width: 767px) */
	{
		border-radius: 0 0 var(--border-radius) var(--border-radius) !important;
	}
	.subnav-item:first-child {
		border-top-left-radius: var(--border-radius) !important;
		border-bottom-left-radius: var(--border-radius) !important;
	}
	.subnav-item:last-child,
	.social-count {
		border-top-right-radius: var(--border-radius) !important;
		border-bottom-right-radius: var(--border-radius) !important;
	}
	.manifest-errors,
	.golden-ticket-button:last-child,
	.branch-a-b-count .bar-ahead,
	.branch-a-b-count .bar-ahead .meter,
	.delete-topic-button,
	.delete-topic-link,
	.topic-tag-action .remove-topic-button,
	.revision-number,
	.is-bad-file .repo-file-upload-errors,
	.is-empty .repo-file-upload-errors,
	.is-failed .repo-file-upload-errors,
	.is-hidden-file .repo-file-upload-errors,
	.is-too-big .repo-file-upload-errors,
	.is-too-many .repo-file-upload-errors,
	.url-box-clippy .zeroclipboard-button,
	.user-key-email-unverified
	{
		border-radius: 0 var(--border-radius) var(--border-radius) 0 !important;
	}
	.btn-with-count
	.golden-ticket-button:first-child,
	.branch-a-b-count .bar-behind,
	.branch-a-b-count .bar-behind .meter,
	.clone-url-button:first-child .clone-url-link,
	.review-comment-contents .markdown-body .task-list-item
	{
		border-radius: var(--border-radius) 0 0 var(--border-radius) !important;
	}
	.credit-card .cvv /* lol */
	{
		border-top-left-radius: 20px 10px;
		border-top-right-radius: 20px 10px;
		border-bottom-right-radius: 20px 10px;
		border-bottom-left-radius: 20px 10px;
	}
	.inline-review-comment tr:last-child .blob-code:first-child,
	.inline-review-comment tr:last-child .blob-num:first-child,	
	.previewable-comment-form .comment-form-head.tabnav,
	.repository-lang-stats-graph .language-color:first-child,
	.summary-stats li:first-child
	{
		border-bottom-left-radius: var(--border-radius) !important;
	}
	.inline-review-comment tr:last-child .blob-code:last-child,
	.inline-review-comment tr:last-child .blob-num:last-child,
	.repository-lang-stats-graph .language-color:last-child
	{
		border-bottom-right-radius: var(--border-radius) !important;
	}

	/* */
	.rounded-1 {
		border-radius: var(--border-radius) !important;
	}
	.rounded-top-1 {
		border-top-left-radius: var(--border-radius) !important;
	}
	.rounded-right-1,
	.rounded-top-1 {
		border-top-right-radius: var(--border-radius) !important;
	}
	.rounded-bottom-1,
	.rounded-right-1 {
		border-bottom-right-radius: var(--border-radius) !important;
	}
	.rounded-bottom-1,
	.rounded-left-1 {
		border-bottom-left-radius: var(--border-radius) !important;
	}
	.rounded-left-1 {
		border-top-left-radius: var(--border-radius) !important;
	}

	/* */
	.rounded-2-fluid {
		border-radius: var(--border-radius) !important;
	}
	.rounded-top-2-fluid {
		border-top-left-radius: var(--border-radius) !important;
		border-top-right-radius: var(--border-radius) !important;
	}
	.rounded-right-2-fluid {
		border-top-right-radius: var(--border-radius) !important;
		border-bottom-right-radius: var(--border-radius) !important;
	}
	.rounded-bottom-2-fluid {
		border-bottom-right-radius: var(--border-radius) !important;
		border-bottom-left-radius: var(--border-radius) !important;
	}
	.rounded-left-2-fluid {
		border-bottom-left-radius: var(--border-radius) !important;
		border-top-left-radius: var(--border-radius) !important;
	}
	@media (min-width:544px) {
		.rounded-sm-2-fluid {
			border-radius: var(--border-radius) !important;
		}
		.rounded-sm-top-2-fluid {
			border-top-left-radius: var(--border-radius) !important;
			border-top-right-radius: var(--border-radius) !important;
		}
		.rounded-sm-right-2-fluid {
			border-top-right-radius: var(--border-radius) !important;
			border-bottom-right-radius: var(--border-radius) !important;
		}
		.rounded-sm-bottom-2-fluid {
			border-bottom-right-radius: var(--border-radius) !important;
			border-bottom-left-radius: var(--border-radius) !important;
		}
		.rounded-sm-left-2-fluid {
		border-bottom-left-radius: var(--border-radius) !important;
		border-top-left-radius: var(--border-radius) !important;
		}
	}
	@media (min-width:768px) {
		.rounded-md-2-fluid {
			border-radius: var(--border-radius) !important;
		}
		.rounded-md-top-2-fluid {
			border-top-left-radius: var(--border-radius) !important;
			border-top-right-radius: var(--border-radius) !important;
		}
		.rounded-md-right-2-fluid {
			border-top-right-radius: var(--border-radius) !important;
			border-bottom-right-radius: var(--border-radius) !important;
		}
		.rounded-md-bottom-2-fluid {
			border-bottom-right-radius: var(--border-radius) !important;
			border-bottom-left-radius: var(--border-radius) !important;
		}
		.rounded-md-left-2-fluid {
			border-bottom-left-radius: var(--border-radius) !important;
			border-top-left-radius: var(--border-radius) !important;
		}
	}
	@media (min-width:1012px) {
		.rounded-lg-2-fluid {
			border-radius: var(--border-radius) !important;
		}
		.rounded-lg-top-2-fluid {
			border-top-left-radius: var(--border-radius) !important;
			border-top-right-radius: var(--border-radius) !important;
		}
		.rounded-lg-right-2-fluid {
			border-top-right-radius: var(--border-radius) !important;
			border-bottom-right-radius: var(--border-radius) !important;
		}
		.rounded-lg-bottom-2-fluid {
			border-bottom-right-radius: var(--border-radius) !important;
			border-bottom-left-radius: var(--border-radius) !important;
		}
		.rounded-lg-left-2-fluid {
			border-bottom-left-radius: var(--border-radius) !important;
			border-top-left-radius: var(--border-radius) !important;
		}
	}
	@media (min-width:1280px) {
		.rounded-xl-2-fluid {
			border-radius: var(--border-radius) !important;
		}
		.rounded-xl-top-2-fluid {
			border-top-left-radius: var(--border-radius) !important;
			border-top-right-radius: var(--border-radius) !important;
		}
		.rounded-xl-right-2-fluid {
			border-top-right-radius: var(--border-radius) !important;
			border-bottom-right-radius: var(--border-radius) !important;
		}
		.rounded-xl-bottom-2-fluid {
			border-bottom-right-radius: var(--border-radius) !important;
			border-bottom-left-radius: var(--border-radius) !important;
		}
		.rounded-xl-left-2-fluid {
			border-bottom-left-radius: var(--border-radius) !important;
			border-top-left-radius: var(--border-radius) !important;
		}
	}
}

