/* ==UserStyle==
@name           Reddit
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me

@preprocessor stylus
==/UserStyle== */

@-moz-document domain("reddit.com") {
	.res.res-commentBoxes .comment,
	.commentarea .comment {
		border-radius: 0 !important;
	}
	#sr-header-area {
		height: 18px !important;
		line-height: 18px !important;
	}
	.tagline, .search-result-meta,
	.domain, .domain a, .entry .buttons li a,
	span.redditSingleClick, .commentarea .menuarea,
	.commentarea .menuarea .toggle a, div.commentNavSortType {
		font-size: 12px !important;
	}

	/* Remove elements */
	.footer-parent, .debuginfo, /* Footer */
	.give-gold-button, .buttons li:not([class]) {
		display: none !important;
	}
	#header-bottom-right, /* Login */
	#sr-header-area /* Header top */ {
		visibility: hidden;
	}

	/* New reddit stolen icons */
	/*@font-face {
		font-family: "redesignFont";
		src: url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.e68baae7e616cf832cacf2df091e58f3.eot),
				 url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.e68baae7e616cf832cacf2df091e58f3.woff),
				 url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.e68baae7e616cf832cacf2df091e58f3.ttf),
				 url(https://www.redditstatic.com/desktop2x/fonts/redesignIcon/redesignFont.e68baae7e616cf832cacf2df091e58f3.svg);
	}
	.buttons {
		li a {
			margin-left: 2px;

			&:not(.comments) {
				text-transform: capitalize;
			}

			&::before {
				font-family: "redesignFont";
				display: block;
				float: left;
			}

			&:hover::before {
				text-decoration: underline;
			}
		}

		.first a::before {content: "\f10c"}
		.share a::before {content: "\f136"}
		.save-button a::before {content: "\f135"}
		.hide-button a::before {content: "\f120"}
		.reply-button a::before {content: "\f10c"}
		.report-button a::before {content: "\f134"}
		.embed-comment a::before {content: "\f112"}
		.first .bylink:not(.comments)::before {content: "\f123"}
	}*/
	
	/* Remove side panel for small windows */
	@media only screen and (max-width: 1024px) {
		.side {
			display: none;
		}
		body > .content {
			margin: 16px !important;
		}
	}
	
	/* Unsorted */
	.nav-buttons {
		padding: 6px !important;
	}
}
