/* ==UserStyle==
@name           Stylus sidebar overlay
@namespace      github.com/openstyles/stylus
@version        1.0.0
@description    A new userstyle
@author         Me

@preprocessor stylus
==/UserStyle== */

@-moz-document regexp("(moz|chrome)-extension://.*") {
	@media (prefers-color-scheme: light) { :root { --sidebar-bg: rgba(255,255,255,.5) }}
	@media (prefers-color-scheme: dark) { :root { --sidebar-bg: rgba(0,0,0,.5) }}
	$sidebar-width = 16px;

	#stylus {
		#header {
			background-color: var(--sidebar-bg) !important;
			backdrop-filter: blur(36px);

			@media (prefers-reduced-motion: no-preference) {
				transition: var(--trans-dur);
			}

			&::-webkit-scrollbar {
				display: none !important;
			}

			&:not(:hover) {
				width: $sidebar-width !important;
				flex: 0 0 $sidebar-width !important;
				padding: 0 !important;

				* {
					display: none;
				}
			}
		}

		@media (max-width: 850px) {
			#header {
				border-right: 1px dashed #aaa !important;
				border-bottom: none !important;
				position: fixed !important;
				width: 280px !important;
				height: 100% !important;

				#details-wrapper {
					flex-direction: column !important;
				}
			}

			&.usercss .CodeMirror-scroll {
				max-height: 100% !important;
			}
		}

		#sections, #installed {
			padding-left: $sidebar-width !important;
		}
	}

	#stylus-install-usercss {
		#header {
			position: absolute;
			height: 100%;
		}

		.main {
			margin-left: $sidebar-width;
		}
	}
}
