@use 'sass:math';
@import 'common';
@import 'settings';
@import 'client';
@import 'webpages';

// Global rules
* {
	font: $font-size $font $i;
	box-shadow: none $i;
	text-shadow: none $i;
	transition: none $i;
}

::selection {
	background-color: $hl $i;
	color: $hl-text $i;
}
