// Stolen from https://stackoverflow.com/questions/39556519
@mixin child-attr($child, $parent: null) {
  $string: inspect(&);
  $original: str-slice($string, 3, -4);
  @at-root #{$parent} #{ selector-replace(&, &, "[#{$original}#{$child}]" ) } {
    @content;
  }
}

@mixin anim($e: &) {
	@at-root #{$e} {
		transition: $trans-dur $i;
	}
}

@mixin bg($arg) {
	background-color: $arg $i;
	background-image: none $i;
}

// Global settings
$font: CozetteVector;
$font-size: 9pt;

// Library
$library-top-box-height: 24px;
$library-game-icon-size: 12px;
$library-game-list-pad: 2px;

// Modal
$modal-left-side-width: 120px;
$modal-left-side-item-pad: 3px;

// Friends
$avatar-size: 36px;
