@use 'sass:math';

$i: !important;
$delim: '•';

// Color settings
$bg-base-brightness: 6%; // 6%
$bg-brightness: 6%;
$bg-saturation: 52%; // 52%
$base-hue: 224;
$mute-factor: 2;

// Background
$bg: hsl($base-hue, $bg-saturation, $bg-base-brightness);
$bg2: hsl($base-hue, $bg-saturation, $bg-base-brightness + $bg-brightness);
$bg3: hsl($base-hue, $bg-saturation, $bg-base-brightness + $bg-brightness * 1.5);
$bg4: hsl($base-hue, $bg-saturation, $bg-base-brightness + $bg-brightness * 2.25);
$bg-tr: hsla($base-hue, $bg-saturation, $bg-base-brightness, .75);
$bg-tr2: hsla($base-hue, $bg-saturation, $bg-base-brightness, .5);
$bg-tr3: hsla($base-hue, $bg-saturation, $bg-base-brightness, .25);

// Text
$text: hsl(0, 0%, 80%);
$text-muted: hsl(0, 0%, math.div(80%, $mute-factor));
$text-muted2: hsl(0, 0%, math.div(80%, ($mute-factor * 2)));
$text-link: hsl($base-hue - 13.6, 100%, 54%);

// Scrollbar
$scrollbar-track: $bg2;
$scrollbar-track-button: hsl($base-hue, 64%, 10%);
$scrollbar-thumb: hsl($base-hue, 11%, 21%);
$scrollbar-thumb-hover: hsl($base-hue, 9%, 27%);
$scrollbar-thumb-active: $text;

// Mountaineer colorscheme (not exact)
$saturation-factor: 1;
$colorscheme-saturation: $saturation-factor * 17%;
$colorscheme-saturation-2: $colorscheme-saturation + 7%;
$colorscheme-brightness: 61%;
$colorscheme-brightness-2: $colorscheme-brightness + 8%;
$color1:  hsl(356, $colorscheme-saturation,   $colorscheme-brightness);
$color9:  hsl(357, $colorscheme-saturation-2, $colorscheme-brightness-2);
$color2:  hsl(122, $colorscheme-saturation,   $colorscheme-brightness);
$color10: hsl(122, $colorscheme-saturation-2, $colorscheme-brightness-2);
$color3:  hsl(55,  $colorscheme-saturation,   $colorscheme-brightness);
$color11: hsl(55,  $colorscheme-saturation-2, $colorscheme-brightness-2);
$color4:  hsl(249, $colorscheme-saturation,   $colorscheme-brightness);
$color12: hsl(248, $colorscheme-saturation-2, $colorscheme-brightness-2);
$color5:  hsl(300, $colorscheme-saturation,   $colorscheme-brightness);
$color13: hsl(300, $colorscheme-saturation-2, $colorscheme-brightness-2);
$color6:  hsl(182, $colorscheme-saturation,   $colorscheme-brightness);
$color14: hsl(182, $colorscheme-saturation-2, $colorscheme-brightness-2);

// Shadows
$shadow-clr: rgba(0,0,0,.25);
$shadow-ins: inset 0 0 0 1px;
$shadow-vrt: 0 0 8px;
$shadow-low: 0 1px 4px;
$shadow-mid: 0 4px 8px;
$shadow-big: $shadow-mid $shadow-clr, 0 28px 48px $shadow-clr;

// Other colors
$accent: hsl($base-hue + 66, 33%, 10%);
$accent-border: hsl($base-hue + 66, 33%, 22%);
$border: hsl($base-hue, $bg-saturation, $bg-base-brightness + $bg-brightness * 3.5);
$shadow-clr: rgba(0,0,0,.2);

// Openbox
$header-h: 30px;
$window-button-size: $header-h;
$window-button-icon: 8px;

// etc.
$border-radius: 0;
$trans-dur: 150ms;
$font-normal: Rosemary;
$font-code: azukifontBI;
$hl: $text-link;
$hl-text: #fff;
$popup-filter: blur(36px);
$gradient: linear-gradient(to right, $accent, $accent-border);
